Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live

fix reference errors
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/output/dark.css
  packages/tailwind-constructor/output/light.css
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

upgrade storybook
  packages/UI/.storybook/preview.jsx
  packages/UI/package.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

Revert "upgrade storybook"
  packages/UI/.storybook/preview.jsx
  packages/UI/package.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

properly migrate to storybook v7.2
  packages/UI/.storybook/main.js
  packages/UI/.storybook/preview.jsx
  packages/UI/package.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

feat: connect the logic of the filter an put to work the filter component
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/CollapsibleSectionFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/CollapsibleSectionFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/SelectRoleFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/SelectRoleFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
Owners: @dev-launchers/dev-recruit-team

add-roles-and-teams-user-data-context
  apps/site-projects/src/components/modules/Resources/YourProjects/YourProjects.js
  apps/site-projects/src/context/UserDataContext.js
Owners: none

Revert "add-roles-and-teams-user-data-context"
  apps/site-projects/src/components/modules/Resources/YourProjects/YourProjects.js
  apps/site-projects/src/context/UserDataContext.js
Owners: none

add-roles-and-teams-user-data-context
  apps/site-projects/src/components/modules/Resources/YourProjects/YourProjects.js
  apps/site-projects/src/context/UserDataContext.js
Owners: none

refactor: cleaning the code of RolesFilterComponent
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

feat: completed button logic
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/RolesButtons/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/RolesButtons/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/SelectRoleFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/SelectRoleFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/styledFilterPage.ts
Owners: @dev-launchers/dev-recruit-team

created projects display, select and reformed userdatacontext
  apps/app/pages/projects/resources.jsx
  apps/site-projects/src/components/modules/Resources/ProjectResources/ProjectResources.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
  apps/site-projects/src/components/modules/Resources/YourProjects/YourProjects.js
  apps/site-projects/src/components/modules/Resources/index.js
  apps/site-projects/src/context/UserDataContext.js
  apps/site-projects/src/pages/resources.jsx
Owners: @Enjoy2Live, @pyxld-kris

removed console.log()
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
Owners: none

Created conditional for project title
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
Owners: none

changed function name
  apps/site-projects/src/components/modules/Resources/index.js
Owners: none

implemented userData.id in function
  apps/site-projects/src/components/modules/Resources/index.js
Owners: none

fix: cleaning the code
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/CollapsibleSectionFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/CollapsibleSectionFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/RolesButtons/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/RolesButtons/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/SelectRoleFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/SelectRoleFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/HeaderJoinPage/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/HeaderJoinPage/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

fix(chungthuang): Issue 81 fix production url and redirect url to v4
  production/configmap.yaml
Owners: none

adding state implementation p1
  apps/user-profile/src/state/actions/index.js
  apps/user-profile/src/state/actions/onboardingActions.js
  apps/user-profile/src/state/reducers/index.js
  apps/user-profile/src/state/reducers/onboardingReducer.js
Owners: none

part 2
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/context/OnboardingContext.js
  apps/user-profile/src/context/OnboardingDataContext.js
  apps/user-profile/src/context/UserDataContext.js
  apps/user-profile/src/utils/featureflags.js
Owners: none

part 3
  apps/user-profile/src/context/UserDataContext.js
  apps/user-profile/src/pages/_app.js
  apps/user-profile/src/pages/users/me.js
  apps/user-profile/src/utils/featureFlags.js
Owners: none

part 4
  apps/user-profile/src/state/reducers/onboardingReducer.js
Owners: none

quick changes
  apps/user-profile/src/context/UserDataContext.js
Owners: none

feat(oriyomi): teamMembership collection track users memberships in teams
  src/api/team-membership/content-types/team-membership/schema.json
  src/api/team-membership/controllers/team-membership.js
  src/api/team-membership/documentation/1.0.0/team-membership.json
  src/api/team-membership/routes/team-membership.js
  src/api/team-membership/services/team-membership.js
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
  src/index.js
Owners: none

Update staging image to devlaunchers/strapi:bc7561e-202308131906
  staging/kustomization.yaml
Owners: none

feat: all other resourcers implemented
  apps/app/public/images/projects/resources/logos/AI.png
  apps/app/public/images/projects/resources/logos/Vector.png
  apps/app/public/images/projects/resources/logos/designSystem.png
  apps/app/public/images/projects/resources/logos/moreInfo.svg
  apps/site-projects/src/components/modules/Resources/OtherResourcers/OtherResources.js
  apps/site-projects/src/components/modules/Resources/OtherResourcers/StyledOtherResources.js
  apps/site-projects/src/components/modules/Resources/OtherResourcers/index.js
  apps/site-projects/src/components/modules/Resources/index.js
Owners: @Enjoy2Live, @pyxld-kris

fix: icons height , weight
  apps/site-projects/src/components/modules/Resources/OtherResourcers/OtherResources.js
  apps/site-projects/src/components/modules/Resources/OtherResourcers/StyledOtherResources.js
Owners: none

fix(chungthuang): Fix token was not set because URL path didn't match
  src/extensions/users-permissions/server/middlewares/jwt.js
Owners: none

feat(chungthuang): Add a new field for Discord webhook URL to projects collection
  src/api/project/content-types/project/schema.json
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
Owners: none

chore(chungthuang): Remove documentation from git
  .gitignore
  src/api/applicant/documentation/1.0.0/applicant.json
  src/api/category/documentation/1.0.0/category.json
  src/api/comment/documentation/1.0.0/comment.json
  src/api/github-repo/documentation/1.0.0/github-repo.json
  src/api/google-meet/documentation/1.0.0/google-meet.json
  src/api/idea-card/documentation/1.0.0/idea-card.json
  src/api/interest/documentation/1.0.0/interest.json
  src/api/like/documentation/1.0.0/like.json
  src/api/newsletter/documentation/1.0.0/newsletter.json
  src/api/opportunity/documentation/1.0.0/opportunity.json
  src/api/point/documentation/1.0.0/point.json
  src/api/profile/documentation/1.0.0/profile.json
  src/api/project/documentation/1.0.0/project.json
  src/api/sendmail/documentation/1.0.0/sendmail.json
  src/api/team-membership/documentation/1.0.0/team-membership.json
  src/api/time-capsule/documentation/1.0.0/time-capsule.json
  src/api/user-recommendations/documentation/1.0.0/user-recommendations.json
  src/extensions/documentation/public/index.html
  src/extensions/email/documentation/1.0.0/email.json
  src/extensions/upload/documentation/1.0.0/upload.json
  src/extensions/users-permissions/documentation/1.0.0/users-permissions.json
Owners: none

Update staging image to devlaunchers/strapi:237e604-202308140955
  staging/kustomization.yaml
Owners: none

fixed null selected card and implemented styled components
  apps/site-projects/src/components/modules/Resources/YourProjects/StyledYourProjects.js
  apps/site-projects/src/components/modules/Resources/YourProjects/YourProjects.js
  apps/site-projects/src/components/modules/Resources/index.js
Owners: none

fix: names and adding links
  apps/app/public/images/projects/resources/logos/AI.png
  apps/app/public/images/projects/resources/logos/strapi.svg
  apps/site-projects/src/components/modules/Resources/OtherResourcers/OtherResources.js
Owners: @Enjoy2Live, @pyxld-kris

WIP
  packages/UI/.storybook/main.ts
  packages/UI/.storybook/preview.jsx
  packages/UI/src/components/molecules/NotificationTab/NotificationTab.stories.tsx
  packages/UI/src/components/molecules/NotificationTab/NotificationTab.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

refactoring code
  apps/site-projects/src/components/modules/Resources/OtherResourcers/OtherResources.js
  apps/site-projects/src/components/modules/Resources/OtherResourcers/OtherResourcesCard.js
Owners: none

Update staging image to devlaunchers/strapi:2fe6347-202308142026
  staging/kustomization.yaml
Owners: none

fix: userDataContext losing its state between page navigations
  packages/UI/src/context/UserDataContext.js
  packages/UI/src/context/UserDataReactContext.js
Owners: @dev-launchers/platform-enablement

feat: creating logic to change the button color when active
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/styledRoleCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/RolesButtons/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/RolesButtons/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/UseOpenPositions/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/UseOpenPositions/opportunityUtils.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/styles.ts
Owners: @dev-launchers/dev-recruit-team

build: work in time commitment
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/ConfirmationModal.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleCard/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleCard/styledRoleCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleModal/RoleDetailsModal.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleModal/StyledRoleModal.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/SuggestedRole/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
Owners: @dev-launchers/dev-recruit-team

fix: bug fix
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/checkBox.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
Owners: @dev-launchers/dev-recruit-team
