Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/User-profile, @dev-launchers/dev-recruit, @Enjoy2Live, @pyxld-kris, @dev-launchers/Backend-Devs

rewrite html coming from nextjs apps
  apps/vike-app/worker/index.js
Owners: none

Upgrade staging image to devlaunchers/platform-website:37637f8-202407101913
  staging/kustomization.yaml
Owners: none

add @figma/code-connect as dependency
  packages/UI/package.json
  yarn.lock
Owners: @Enjoy2Live

comment out the buttons
  apps/ideaspace/src/components/modules/WorkshoppingPage/IdeaOverview/IdeaOverview.js
Owners: @dev-launchers/ideaspace-team

test pull pr
  apps/dev-recruiters/src/components/modules/ThankyouPage/index.tsx
Owners: @dev-launchers/dev-recruit

pull request test
  apps/dev-recruiters/src/components/modules/ThankyouPage/index.tsx
Owners: @dev-launchers/dev-recruit

Build fail issue check
  apps/dev-recruiters/src/components/modules/ConfirmationPage/confirmationPage.tsx
Owners: @dev-launchers/dev-recruit

Upgrade staging image to devlaunchers/platform-website:e287153-202407131211
  staging/kustomization.yaml
Owners: none

Allow website to run from virtual node
  workload/deployment.yaml
Owners: none

Upgrade staging image to devlaunchers/platform-website:cc85b6c-202407132238
  staging/kustomization.yaml
Owners: none

result filter
  apps/dev-recruiters/src/pages/filter.tsx
  apps/dev-recruiters/src/pages/index.tsx
Owners: @dev-launchers/dev-recruit

result filter1
  apps/dev-recruiters/src/pages/filter.tsx
Owners: @dev-launchers/dev-recruit

edit bio functionality
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/Bio/Bio.js
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/Bio/index.js
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/EditProfileModal.js
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/SettingPage/Bio/Bio.js
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/SettingPage/SettingPage.js
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/SideBar/SideBar.js
  apps/user-profile/src/components/modules/UserProfile/UserProfile.js
  apps/user-profile/src/pages/_app.js
  apps/user-profile/src/state/actions/editProfileActions.js
  apps/user-profile/src/state/reducers/editProfileReducer.js
Owners: @dev-launchers/User-profile

adding new lines to text
  apps/user-profile/src/styles/globals.js
Owners: @dev-launchers/User-profile

quick syntax changes
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/SettingPage/Bio/Bio.js
  apps/user-profile/src/components/modules/UserProfile/EditProfileModal/SettingPage/SettingPage.js
Owners: @dev-launchers/User-profile

filter result2
  apps/dev-recruiters/src/pages/[slug]/index.tsx
  apps/dev-recruiters/src/pages/filter.tsx
Owners: @dev-launchers/dev-recruit

When roles are filtered, job title and hrs and description was not visible
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleCard/index.tsx
Owners: @dev-launchers/dev-recruit

When roles are filtered, job title and hrs and description was not visible
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleCard/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
Owners: @dev-launchers/dev-recruit

When roles are filtered, more details modal giving error
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleCard/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
Owners: @dev-launchers/dev-recruit

When roles are filtered, more details modal giving error
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/RoleCard/index.tsx
Owners: @dev-launchers/dev-recruit

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# UserProfile code
apps/user-profile/ @dev-launchers/User-profile

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit 

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/Backend-Devs

# Deps
package.json @Enjoy2Live
