Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live

Making updates to DisplayComments
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
Owners: @dev-launchers/ideaspace-team

fix: bug fix
  apps/app/pages/join/[slug]/apply.jsx
  apps/app/pages/join/[slug]/index.jsx
Owners: @Enjoy2Live, @pyxld-kris

build: bug fix
  apps/dev-recruiters/src/pages/[slug]/apply.tsx
Owners: @dev-launchers/dev-recruit-team

build: bug fix
  apps/app/pages/join/[slug]/apply.jsx
  apps/app/pages/join/[slug]/index.jsx
Owners: @Enjoy2Live, @pyxld-kris

fix: bug fix
  apps/dev-recruiters/src/pages/[slug]/index.tsx
Owners: @dev-launchers/dev-recruit-team

fix: bug fix
  apps/dev-recruiters/src/pages/[slug]/apply.tsx
  apps/dev-recruiters/src/pages/[slug]/index.tsx
Owners: @dev-launchers/dev-recruit-team

fix: bug fix
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/OpportunitiesAggregator.tsx
Owners: @dev-launchers/dev-recruit-team

fix: bug fix
  apps/dev-recruiters/src/components/modules/DetailedPage/ProjectDetails.tsx
Owners: @dev-launchers/dev-recruit-team

Testing router
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
Owners: @dev-launchers/ideaspace-team

Created a new button story
  monorepo.code-workspace
  packages/UI/src/components/atoms/NewButton/NewButton.stories.tsx
  packages/UI/src/components/atoms/NewButton/NewButton.tsx
  packages/UI/src/components/atoms/NewButton/index.ts
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

completed frontend changes
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
  apps/ideaspace/src/components/common/IdeaCard/StyledIdeaCard.js
  apps/ideaspace/src/components/modules/SaveIdea/SaveIdea.js
  apps/ideaspace/src/components/modules/SaveIdea/StyledSaveIdea.js
Owners: @dev-launchers/ideaspace-team

import the compiled tailwind.css file
  packages/UI/.storybook/preview.jsx
Owners: @dev-launchers/platform-enablement

fix(solve conflict markers in styled components)
  apps/ideaspace/src/components/modules/WorkshoppingPage/StyledComponents.js
Owners: @dev-launchers/ideaspace-team

Got comments to display again
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/useFetchIdea.js
Owners: @dev-launchers/ideaspace-team

fix(handle v4 strapi data formats)
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris

fix(handle new strapi v4 data formats)
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris

fix(use the agent to get ideas on user profile page)
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris

fix(console.log -> console.error)
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris

feat(oriyomi): Allow users to update their profile picture #35
  config/middlewares.js
  config/plugins.js
  src/api/profile/content-types/profile/lifecycles.js
Owners: none

fix(console.log -> console.error)
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris

Run tests on staging environment
  .github/workflows/test.yaml
Owners: none

created team meetings section and styled components
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/MeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/StyledMeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/index.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/StyledTeamMeetings.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/TeamMeetings.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/index.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/meetingTimesData.js
  apps/site-projects/src/components/modules/Resources/index.js
Owners: none

fix(globally available strapi helper function)
  apps/website/src/components/modules/UserProfile/UserProfile.js
  packages/UI/src/utils/StrapiHelper.js
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

Created Tag v2 Component
  packages/UI/src/components/atoms/Tag/Tag.stories.tsx
  packages/UI/src/components/atoms/Tag/Tag.tsx
  packages/UI/src/components/atoms/Tag/index.ts
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

Fix typechecks for tag component
  packages/UI/src/components/atoms/Tag/Tag.stories.tsx
Owners: @dev-launchers/platform-enablement

adding styles to the meetings components
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/MeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/StyledMeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/StyledTeamMeetings.js
Owners: none

adding comment for clarification
  apps/site-projects/src/components/modules/Resources/TeamMeetings/meetingTimesData.js
Owners: none

added the google meet icon to the meetings component
  apps/app/public/images/projects/resources/logos/google-meet.svg
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/MeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/StyledMeetingTimeCard.js
Owners: @Enjoy2Live, @pyxld-kris

can't see components in storybook
  packages/UI/src/components/atoms/MyComponent/MyComponent.stories.tsx
  packages/UI/src/components/atoms/MyComponent/MyComponent.tsx
  packages/UI/src/components/atoms/MyComponent/index.ts
  packages/UI/src/components/atoms/index.ts
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

added new color styles
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

Displaying creation date of comments
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/SingleComment.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/StyledComments.js
Owners: @dev-launchers/ideaspace-team

used fonts from the theme
  apps/site-projects/src/components/modules/Resources/OtherResourcers/StyledOtherResources.js
  apps/site-projects/src/components/modules/Resources/StyledResources.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/StyledTeamMeetings.js
  apps/site-projects/src/components/modules/Resources/TeamResources/StyledTeamResources.js
Owners: none

CSS changes to SaveIdea button
  apps/ideaspace/src/components/modules/SaveIdea/SaveIdea.js
  apps/ideaspace/src/components/modules/SaveIdea/StyledSaveIdea.js
Owners: @dev-launchers/ideaspace-team

final CSS changes for SaveIdea Button
  apps/ideaspace/src/components/modules/SaveIdea/SaveIdea.js
  apps/ideaspace/src/components/modules/SaveIdea/StyledSaveIdea.js
Owners: @dev-launchers/ideaspace-team

Wrote NewButton Large, Medium , Small stories and NewCloseButton stories
  packages/UI/src/components/atoms/NewButton/NewButton.stories.tsx
  packages/UI/src/components/atoms/NewButton/NewButton.tsx
  packages/UI/src/components/atoms/NewButton/index.ts
  packages/UI/src/components/atoms/NewCloseButton/NewCloseButton.stories.tsx
  packages/UI/src/components/atoms/NewCloseButton/NewCloseButton.tsx
  packages/UI/src/components/atoms/NewCloseButton/index.ts
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

Update tag component to add new brand styles
  packages/UI/src/components/atoms/Tag/Tag.stories.tsx
  packages/UI/src/components/atoms/Tag/Tag.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

fix confirmation page popup
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
Owners: @dev-launchers/dev-recruit-team

Restructure position popup font
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/StyledPositionCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleModal/RoleDetailsModal.tsx
Owners: @dev-launchers/dev-recruit-team

Update tag component - add shadow option - add light/dark mode option
  packages/UI/src/components/atoms/Tag/Tag.stories.tsx
  packages/UI/src/components/atoms/Tag/Tag.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement
