Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

Notes added by 'git notes add'
  60487b740e5df0ac7ef8bb8e84b03479ae3f8a5c
Owners: none

Upgrade production image to devlaunchers/platform-website:2.11.0
  production/kustomization.yaml
Owners: none

feat(dbradham): allow users to login within different environments
  apps/app/.env.development
  apps/app/.env.production
  apps/app/.env.staging
  apps/app/.env.test
  apps/dev-recruiters/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/dev-recruiters/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/dev-recruiters/src/components/modules/LoginPage/loginPage.tsx
  apps/ideaspace/src/components/common/SignInButton/SignInButton.js
  apps/site-projects/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/site-projects/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/AccountDropdown/AccountDropdown.js
  packages/UI/src/components/organisms/HamburgerMenu/HamburgerMenu.tsx
  packages/UI/src/components/organisms/Navigation/MobileNavigation.tsx
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @dev-launchers/platform-enablement

initial tailwind config
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Owners: @Enjoy2Live

added ThirdPartyOnboarding.js and styling
  apps/user-profile/src/components/modules/UserOnboardingModal/ThirdPartyOnboarding/StyledThirdPartyOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/ThirdPartyOnboarding/ThirdPartyOnboarding.js
Owners: none

some endpoint query rewrites
  apps/dev-recruiters/src/pages/[slug]/index.tsx
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/pages/[slug].jsx
  packages/utility/agent.ts
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/platform-enablement

local login -wip
  apps/app/.env.development
Owners: @Enjoy2Live, @pyxld-kris

update connection strings
  apps/app/.env.development
Owners: @Enjoy2Live, @pyxld-kris

Roman/tailwind-implemetation: tailwind config.
  packages/tailwind-constructor/.github/workflows/create-tokens.yml
  packages/tailwind-constructor/.gitignore
  packages/tailwind-constructor/LICENSE
  packages/tailwind-constructor/README.md
  packages/tailwind-constructor/build.js
  packages/tailwind-constructor/custom.css
  packages/tailwind-constructor/fns.js
  packages/tailwind-constructor/index.html
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/package-lock.json
  packages/tailwind-constructor/package.json
  packages/tailwind-constructor/postcss.config.js
  packages/tailwind-constructor/styles.css
  packages/tailwind-constructor/tailwind.config.js
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens.json
  packages/tailwind-constructor/tokens/core.json
  packages/tailwind-constructor/tokens/dark.json
  packages/tailwind-constructor/tokens/global.json
  packages/tailwind-constructor/tokens/light.json
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

Changes in DisplayComment component.
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/useFetchIdea.js
Owners: @dev-launchers/ideaspace-team

Roman/tailiwing-implementation: Converting some css values.
  packages/tailwind-constructor/build.js
  packages/tailwind-constructor/custom.css
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/output/dark.css
  packages/tailwind-constructor/output/dark.json
  packages/tailwind-constructor/output/light.css
  packages/tailwind-constructor/output/light.json
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens.json
  packages/tailwind-constructor/tokens/core.json
  packages/tailwind-constructor/tokens/dark.json
  packages/tailwind-constructor/tokens/light.json
  yarn.lock
Owners: @dev-launchers/platform-enablement

Added PageTwo, styling, and png images
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/PageTwo.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
  apps/user-profile/src/images/onboarding-level-up.png
  apps/user-profile/src/images/onboarding-network.png
  apps/user-profile/src/images/onboarding-project.png
Owners: none

fix yarn lock for the app to build correctly
  yarn.lock
Owners: none

update deps for wrangler and remove unused ones
  apps/user-profile/package copy.json
  apps/user-profile/package.json
  apps/website/package copy.json
  yarn.lock
Owners: @Enjoy2Live, @pyxld-kris

implement percy to work locally
  packages/UI/package.json
Owners: @Enjoy2Live

Worked on comment feed's visual design
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/CommentForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/SingleComment.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/StyledComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
  packages/utility/agent.ts
Owners: @dev-launchers/ideaspace-team, @dev-launchers/platform-enablement

added third party onboarding files
  apps/user-profile/src/components/modules/UserOnboardingModal/ThirdPartyOnboarding/StyledThirdPartyOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/ThirdPartyOnboarding/ThirdPartyOnboarding.js
Owners: none

clear all feature for project filtering
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/FilteringComponent/FilteringComponent.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/FilteringComponent/StyledFilteringComponent.ts
Owners: @dev-launchers/dev-recruit-team

Implement initial drag select and schedule serialization
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris

ops(chungthuang): Get sentry dsn from secret
  config/plugins.js
  workload/deployment.yaml
Owners: none

Update staging image to devlaunchers/strapi:29e1fb0-202306041219
  staging/kustomization.yaml
Owners: none

ops(chungthuang): Fix staging deployment to look for discord and sentry secrets from integrations
  staging/kservice.yaml
Owners: none

fix build issues
  packages/models/idea.ts
  packages/models/like.ts
  packages/models/save.ts
Owners: @dev-launchers/platform-enablement

update env
  apps/app/.env.development
Owners: @Enjoy2Live, @pyxld-kris

fix the connection strings for google auth url
  apps/app/.env.development
  apps/app/.env.production
  apps/app/.env.staging
  apps/app/.env.test
Owners: @Enjoy2Live, @pyxld-kris

delete localStorage dl_Ideas_isVisited
  apps/ideaspace/src/components/modules/IdeasBetaFeedbackModal/IdeasBetaFeedbackModal.js
Owners: @dev-launchers/ideaspace-team

changes successfully committed 6 4 2023
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/PageOne.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/StyledPageOne.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/index.js
Owners: none

fix clearall on search component
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/FilteringComponent/FilteringComponent.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/SearchComponent/SearchComponent.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/useProject.tsx
Owners: @dev-launchers/dev-recruit-team

Resolved conflicts
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/CommentForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/SingleComment.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/StyledComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/useFetchIdea.js
Owners: @dev-launchers/ideaspace-team

Added highlightning function
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/RoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/index.js
Owners: none

Onboarding task card behavior on hover
  apps/user-profile/src/components/modules/UserOnboardingModal/OnboardingCard/OnboardingCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/OnboardingCard/StyledOnboardingCard.js
Owners: none

feat(chungthuang): Add a field for user schedule
  src/extensions/users-permissions/content-types/user/schema.json
Owners: none

modified code using css hover selector
  apps/user-profile/src/components/modules/UserOnboardingModal/OnboardingCard/OnboardingCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/OnboardingCard/StyledOnboardingCard.js
Owners: none

modified a variable name
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/RoleCard.js
Owners: none

Drop shadow for dropdown component
  packages/UI/src/components/organisms/Dropdown/StyledDropdown.ts
Owners: @dev-launchers/platform-enablement

Added PageTwo into the stepper
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
Owners: none

Un-did most UserOnboardingModel changes
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
Owners: none

Removed PageTwo import
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
Owners: none

Update staging image to devlaunchers/strapi:805bd1a-202306132039
  staging/kustomization.yaml
Owners: none

add percy.yml
  .github/workflows/percy.yml
Owners: none

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
