Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

added basic button components
  packages/UI/src/components/atoms/MyComponent/MyComponent.stories.tsx
  packages/UI/src/components/atoms/MyComponent/MyComponent.tsx
  packages/UI/src/components/atoms/MyComponent/index.ts
  packages/UI/src/components/atoms/index.ts
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

feat(chungthuang): Send message to discord upon creation of new applicant
  .env.example
  .github/workflows/test.yaml
  Dockerfile.dev
  Makefile
  README.md
  docker-run.sh
  package-lock.json
  package.json
  src/api/applicant/content-types/applicant/lifecycles.js
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
  staging/kservice.yaml
  workload/deployment.yaml
Owners: @Enjoy2Live

fix data not being mapped correctly
  apps/dev-recruiters/src/components/modules/DetailedPage/ProductHeader/ProductHeader.tsx
Owners: @dev-launchers/dev-recruit-team

fix userprofile not importing agent
  apps/dev-recruiters/src/components/modules/DetailedPage/ProductHeader/ProductHeader.tsx
  apps/website/package.json
  apps/website/src/components/modules/UserProfile/UserProfile.js
  yarn.lock
Owners: @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris

Upgrade staging image to devlaunchers/platform-website:fa45ae9-202309071944
  staging/kustomization.yaml
Owners: none

fix opportunities & my projects not showing up
  apps/website/src/components/modules/UserProfile/Opportunities/Opportunities.js
  apps/website/src/components/modules/UserProfile/UserProfile.js
  packages/UI/src/context/UserDataContext.js
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix myprojects aren't hyperlinks correctly
  apps/app/.env.development
  apps/app/.env.production
  apps/app/.env.staging
  apps/website/src/components/modules/UserProfile/UserProjects/UserProjects.js
Owners: @Enjoy2Live, @pyxld-kris

Upgrade staging image to devlaunchers/platform-website:7c2b650-202309080036
  staging/kustomization.yaml
Owners: none

update refs to front_end_url env var
  apps/app/.env.test
  apps/dev-recruiters/src/components/common/Footer/Newsletter/Newsletter.js
  apps/dev-recruiters/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/dev-recruiters/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/dev-recruiters/src/components/modules/LoginPage/loginPage.tsx
  apps/dev-recruiters/src/pages/[slug]/apply.tsx
  apps/dev-recruiters/src/pages/[slug]/index.tsx
  apps/dev-recruiters/src/pages/confirmation.tsx
  apps/dev-recruiters/src/pages/index.tsx
  apps/dev-recruiters/src/pages/login.tsx
  apps/dev-recruiters/src/pages/second.tsx
  apps/ideaspace/src/components/common/SignInButton/SignInButton.js
  apps/ideaspace/src/components/modules/DashboardPage/DashboardPage.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/CommentForm.js
  apps/site-projects/src/components/common/Footer/Newsletter/Newsletter.js
  apps/site-projects/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/site-projects/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/site-projects/src/components/modules/Projects/Project/HelpBuild/HelpBuild.js
  apps/site-projects/src/pages/[slug].jsx
  apps/site-projects/src/pages/index.jsx
  apps/website/src/components/common/Footer/Newsletter/Newsletter.js
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/website/src/components/modules/Home/Home.js
  apps/website/src/pages/index.js
  packages/UI/src/components/organisms/Footer/Newsletter/Newsletter.js
  packages/UI/src/components/organisms/HamburgerMenu/HamburgerMenu.tsx
  packages/UI/src/components/organisms/Navigation/MobileNavigation.tsx
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @dev-launchers/platform-enablement

Upgrade staging image to devlaunchers/platform-website:a864985-202309080258
  staging/kustomization.yaml
Owners: none

feat: added tabs component
  packages/UI/package.json
  packages/UI/src/components/molecules/NotificationTab/NotificationTab.stories.tsx
  packages/UI/src/components/molecules/Tab/Tab.stories.tsx
  packages/UI/src/components/molecules/Tab/Tab.tsx
  yarn.lock
Owners: @Enjoy2Live, @dev-launchers/platform-enablement

refactor: remove unsed props
  packages/UI/src/components/molecules/Tab/Tab.tsx
Owners: @dev-launchers/platform-enablement

Added the SaveIdea collection definition
  src/api/save-idea/content-types/save-idea/schema.json
  src/api/save-idea/controllers/save-idea.js
  src/api/save-idea/routes/save-idea.js
  src/api/save-idea/services/save-idea.js
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
  src/extensions/users-permissions/content-types/user/schema.json
Owners: none

Update staging image to devlaunchers/strapi:cfea1c2-202309081918
  staging/kustomization.yaml
Owners: none

Formatted dates in comment feed
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/SingleComment.js
Owners: @dev-launchers/ideaspace-team

Tag component update - Component updates - Documentation - Deprecate `Tags` component
  packages/UI/src/components/atoms/Tag/Tag.stories.tsx
  packages/UI/src/components/atoms/Tag/Tag.tsx
  packages/UI/src/components/atoms/Tags/Tags.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

moved atom location on storybook
  packages/UI/src/components/atoms/MyComponent/MyComponent.stories.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

changed x to y
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
Owners: none

finished section component
  packages/UI/src/components/organisms/NotificationSection/Section.stories.tsx
  packages/UI/src/components/organisms/NotificationSection/Section.tsx
  packages/UI/src/components/organisms/NotificationSection/index.ts
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

Refacted the NewCancel button and moved compoenets into ATOM dir in storybook
  packages/UI/src/components/atoms/NewButton/NewButton.stories.tsx
  packages/UI/src/components/atoms/NewButton/NewButton.tsx
  packages/UI/src/components/atoms/NewCloseButton/NewCloseButton.stories.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

updated useUserDataContext
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/context/UserDataContext.js
Owners: none

Revert "Merge pull request #1370 from dev-launchers/yacine/team-meetings-#1337"
  apps/app/public/images/projects/resources/logos/google-meet.svg
  apps/site-projects/src/components/modules/Resources/OtherResourcers/StyledOtherResources.js
  apps/site-projects/src/components/modules/Resources/StyledResources.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/MeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/StyledMeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/index.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/StyledTeamMeetings.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/TeamMeetings.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/index.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/meetingTimesData.js
  apps/site-projects/src/components/modules/Resources/TeamResources/StyledTeamResources.js
  apps/site-projects/src/components/modules/Resources/index.js
Owners: @Enjoy2Live, @pyxld-kris

Revert "Revert "Merge pull request #1370 from dev-launchers/yacine/team-meetings-#1337""
  apps/app/public/images/projects/resources/logos/google-meet.svg
  apps/site-projects/src/components/modules/Resources/OtherResourcers/StyledOtherResources.js
  apps/site-projects/src/components/modules/Resources/StyledResources.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/MeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/StyledMeetingTimeCard.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/MeetingTimeCard/index.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/StyledTeamMeetings.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/TeamMeetings.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/index.js
  apps/site-projects/src/components/modules/Resources/TeamMeetings/meetingTimesData.js
  apps/site-projects/src/components/modules/Resources/index.js
Owners: @Enjoy2Live, @pyxld-kris

Revert "updated useUserDataContext"
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/context/UserDataContext.js
Owners: none

fixing conflict (commit by Jude)
  apps/user-profile/src/pages/users/me.js
Owners: none

stepper-enhancments
  apps/user-profile/src/components/common/Stepper/Stepper.js
  apps/user-profile/src/components/common/Stepper/StyledStepper.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
  apps/user-profile/src/images/Onboarding/stepper/check.svg
  apps/user-profile/src/images/btn-chevron-left.svg
  apps/user-profile/src/images/btn-chevron-right.svg
Owners: none

fixing future conflicts (commit by Jude)
  apps/user-profile/src/components/common/Stepper/Stepper.js
  apps/user-profile/src/components/common/Stepper/StyledStepper.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/images/Onboarding/Stepper/left-caret.svg
  apps/user-profile/src/images/Onboarding/Stepper/right-caret.svg
Owners: none

refinements
  apps/user-profile/src/components/common/Stepper/Stepper.js
  apps/user-profile/src/components/modules/IntroductionModal/IntroductionModal.js
  apps/user-profile/src/components/modules/IntroductionModal/StyledIntroductionModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/IntroductionModal/IntroductionModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/IntroductionModal/StyledIntroductionModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/IntroductionModal/index.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/state/actions/onboardingActions.js
  apps/user-profile/src/state/reducers/onboardingReducer.js
Owners: none

changes
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/PageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/StyledPageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/StyledPageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPageContainer.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
Owners: none

changes
  apps/user-profile/src/components/common/Stepper/Stepper.js
  apps/user-profile/src/components/common/Stepper/StyledStepper.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/PageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/StyledPageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/StyledPageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
Owners: none

WIP navigation
  packages/UI/src/assets/icons/Hamburger.tsx
  packages/UI/src/components/atoms/SubNavLink/StyledSubNavLink.ts
  packages/UI/src/components/atoms/SubNavLink/SubNavLink.tsx
  packages/UI/src/components/organisms/NavDropdown/NavDropdown.tsx
  packages/UI/src/components/organisms/NavDropdown/StyledDropdown.ts
  packages/UI/src/components/organisms/NavDropdown/index.ts
  packages/UI/src/components/organisms/Navigation/NewNavigation.stories.tsx
  packages/UI/src/components/organisms/Navigation/NewNavigation.tsx
  packages/UI/src/docs/Icons/Iconography.stories.mdx
  packages/tailwind-constructor/package.json
  packages/tailwind-constructor/tailwind.config.js
  packages/tailwind-constructor/tailwind.css
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

Update tag component colors and variations for updated design
  packages/UI/src/components/atoms/Tag/Tag.stories.tsx
  packages/UI/src/components/atoms/Tag/Tag.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

create the gpt app
  apps/app/next.config.js
  apps/app/package.json
  apps/app/pages/gptbot/index.jsx
  apps/gptbot/.babelrc
  apps/gptbot/.eslintignore
  apps/gptbot/.eslintrc-example.js
  apps/gptbot/.gitignore
  apps/gptbot/.prettierignore
  apps/gptbot/README.md
  apps/gptbot/next-env.d.ts
  apps/gptbot/next.config.js
  apps/gptbot/package.json
  apps/gptbot/public/favicon.ico
  apps/gptbot/public/vercel.svg
  apps/gptbot/src/components/README.md
  apps/gptbot/src/content/README.md
  apps/gptbot/src/custom.d.ts
  apps/gptbot/src/pages/_app.jsx
  apps/gptbot/src/pages/_document.js
  apps/gptbot/src/pages/index.jsx
  apps/gptbot/src/styled.d.ts
  apps/gptbot/src/styles/globals.js
  apps/gptbot/src/styles/helpers.js
  apps/gptbot/src/styles/theme.ts
  apps/gptbot/src/utils/GoogleAnalytics.js
  apps/gptbot/src/utils/Logout.js
  apps/gptbot/src/utils/ScrollToTop.js
  apps/gptbot/src/utils/TimeZoneConverter.js
  apps/gptbot/src/utils/ValidateEmail.js
  apps/gptbot/tsconfig.json
  yarn.lock
Owners: @Enjoy2Live, @pyxld-kris

Update tags with default values for docs
  packages/UI/src/components/atoms/Tag/Tag.stories.tsx
  packages/UI/src/components/atoms/Tag/Tag.tsx
Owners: @dev-launchers/platform-enablement

Created the avatar component
  packages/UI/src/components/atoms/Avatar/Avatar.stories.tsx
  packages/UI/src/components/atoms/Avatar/Avatar.tsx
  packages/UI/src/components/atoms/Avatar/index.ts
  packages/UI/src/components/atoms/NewButton/NewButton.stories.tsx
  packages/UI/src/components/atoms/NotificationItemWithAvatar/NotificationItem.tsx
  packages/UI/src/components/atoms/NotificationItemWithAvatar/NotificationItemstories.tsx
  packages/UI/src/components/atoms/NotificationItemWithAvatar/index.ts
  packages/UI/src/components/atoms/index.ts
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

'added'
  apps/app/pages/page/notifcationSettings.js
  packages/UI/src/components/organisms/NotificationSection/Section.stories.tsx
  packages/UI/src/components/organisms/NotificationSection/Section.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

Code clean up Part 1
  apps/user-profile/src/components/common/Button/Button.js
  apps/user-profile/src/components/common/Calendar/Calendar.js
  apps/user-profile/src/components/common/Calendar/StyledCalendar.js
  apps/user-profile/src/components/common/Calendar/index.js
  apps/user-profile/src/components/common/Dropdown/DropdownButton.js
  apps/user-profile/src/components/common/Dropdown/StyledDropdownButton.js
  apps/user-profile/src/components/common/Dropdown/index.js
  apps/user-profile/src/components/common/FlexPageSection/FlexPageSection.js
  apps/user-profile/src/components/common/FlexPageSection/StyledFlexPageSection.js
  apps/user-profile/src/components/common/FlexPageSection/index.js
  apps/user-profile/src/components/common/RainbowBar/RainbowBar.js
  apps/user-profile/src/components/common/Section/Section.js
  apps/user-profile/src/components/common/Section/StyledSection.js
  apps/user-profile/src/components/common/Section/index.js
  apps/user-profile/src/components/modules/UserProfile/LabCampus/StyledLabCampus.js
  apps/user-profile/src/components/modules/UserProfile/LabMember/StyledLabMember.js
  apps/user-profile/src/components/modules/UserProfile/People/People.js
  apps/user-profile/src/components/modules/UserProfile/People/StyledPeople.js
  apps/user-profile/src/components/modules/UserProfile/Points/StyledPoints.js
  apps/user-profile/src/components/modules/UserProfile/RecommendedIdeas/StyledRecommendedIdeas.js
  apps/user-profile/src/components/modules/UserProfile/StyledUserProfile.js
  apps/user-profile/src/components/modules/UserProfile/UserInterests/StyledUserInterests.js
  apps/user-profile/src/components/modules/UserProfile/UserInterests/UserInterests.js
  apps/user-profile/src/components/modules/UserProfile/UserProfile.js
  apps/user-profile/src/components/modules/UserProfile/UserProjects/StyledUserProjects.js
  apps/user-profile/src/pages/_app.js
  apps/user-profile/src/styles/globals.js
Owners: none

Clean Up part 2
  apps/user-profile/src/components/common/CenteredHeadline/CenteredHeadline.js
  apps/user-profile/src/components/common/CenteredHeadline/index.js
  apps/user-profile/src/components/common/DiscordAvatar/DiscordAvatar.js
  apps/user-profile/src/components/common/DiscordAvatar/StyledDiscordAvatar.js
  apps/user-profile/src/components/common/DiscordAvatar/index.js
  apps/user-profile/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/user-profile/src/components/common/HamburgerMenu/HamburgerMenu.module.css
  apps/user-profile/src/components/common/HamburgerMenu/index.js
  apps/user-profile/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/user-profile/src/components/common/Header/AccountDropdown/StyledAccountDropdown.js
  apps/user-profile/src/components/common/Header/AccountDropdown/index.js
  apps/user-profile/src/components/common/Header/Header.js
  apps/user-profile/src/components/common/Header/StyledHeader.js
  apps/user-profile/src/components/common/Header/index.js
  apps/user-profile/src/components/common/ShadowCard/ShadowCard.js
  apps/user-profile/src/components/common/ShadowCard/index.js
Owners: none

Clean up part 3
  apps/user-profile/src/components/common/SignUpForm/FormEntry/FormEntry.js
  apps/user-profile/src/components/common/SignUpForm/FormEntry/StyledFormEntry.js
  apps/user-profile/src/components/common/SignUpForm/FormEntry/index.js
  apps/user-profile/src/components/common/SignUpForm/InputField/InputField.js
  apps/user-profile/src/components/common/SignUpForm/InputField/StyledInputField.js
  apps/user-profile/src/components/common/SignUpForm/InputField/index.js
  apps/user-profile/src/components/common/SignUpForm/ProgressBar/ProgressBar.js
  apps/user-profile/src/components/common/SignUpForm/ProgressBar/StyledProgressBar.js
  apps/user-profile/src/components/common/SignUpForm/ProgressBar/index.js
  apps/user-profile/src/components/common/SignUpForm/ScheduleOrientationButton/ScheduleOrientationButton.js
  apps/user-profile/src/components/common/SignUpForm/ScheduleOrientationButton/index.js
  apps/user-profile/src/components/common/SignUpForm/SelectField/SelectField.js
  apps/user-profile/src/components/common/SignUpForm/SelectField/index.js
  apps/user-profile/src/components/common/SignUpForm/SignUpForm.js
  apps/user-profile/src/components/common/SignUpForm/StyledSignUpForm.js
  apps/user-profile/src/components/common/SignUpForm/TextAreaField/StyledTextAreaField.js
  apps/user-profile/src/components/common/SignUpForm/TextAreaField/TextAreaField.js
  apps/user-profile/src/components/common/SignUpForm/TextAreaField/index.js
  apps/user-profile/src/components/common/SignUpForm/index.js
Owners: none

Code-refinement updated PageTwo
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/PageTwo.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
  apps/user-profile/src/images/Onboarding/onboarding-level-up.png
  apps/user-profile/src/images/Onboarding/onboarding-network.png
  apps/user-profile/src/images/Onboarding/onboarding-project.png
Owners: none

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
