Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live

Update middlewares.js
  config/middlewares.js
Owners: none

fix(chungthuang): Add back favicon.ico to fix admin panel
  favicon.ico
Owners: none

Update staging image to devlaunchers/strapi:ae66be5-202307262133
  staging/kustomization.yaml
Owners: none

Update production image to devlaunchers/strapi:1.1.2
  production/kustomization.yaml
Owners: none

fix(chungthuang): Copy favicon into Dockerfile
  Dockerfile
Owners: none

Update staging image to devlaunchers/strapi:a5b117c-202307262234
  staging/kustomization.yaml
Owners: none

create the filter page
  apps/app/pages/join/filter.jsx
  apps/dev-recruiters/src/pages/filter.tsx
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/dev-recruit-team

Create roleCard
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/RoleCard.tsx
Owners: @dev-launchers/dev-recruit-team

styled roleCard
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/styledRoleCard.ts
Owners: @dev-launchers/dev-recruit-team

import RoleCard
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

feat(alicefate): change jump link to scroll
  apps/ideaspace/src/components/modules/IdeaSubmissionTC/IdeaSubmissionTC.js
Owners: @dev-launchers/ideaspace-team

add role and current team in UserContext
  apps/site-projects/src/context/UserDataContext.js
Owners: none

feat(chungthuang): Update strapi version to 4.12.0
  package-lock.json
  package.json
Owners: @Enjoy2Live

Update staging image to devlaunchers/strapi:34ebc8b-202307272033
  staging/kustomization.yaml
Owners: none

fix spacing
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/PositionCard.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/StyledPositionCard.ts
Owners: @dev-launchers/dev-recruit-team

Update production image to devlaunchers/strapi:1.2.0
  production/kustomization.yaml
Owners: none

feat: create role cards component and updating with database data
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/RolesComponent/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/RolesList/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleSection/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleSection/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/SelectRole.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/StyledSelectRole.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/StyledNewJoinPage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/UseProjectRole/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/FilteringComponent/StyledFilteringComponent.ts
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/ProjectsList/ProjectsList.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/ProjectsListItem/ProjectListItem.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/useProject.tsx
  apps/dev-recruiters/src/contexts/RolesContext.js
  apps/dev-recruiters/src/images/icons/ArrowDown.png
  apps/dev-recruiters/src/images/icons/ArrowUp.png
  apps/dev-recruiters/src/pages/newjoin.tsx
Owners: @dev-launchers/dev-recruit-team

Update staging image to devlaunchers/strapi:699c1ef-202307291522
  staging/kustomization.yaml
Owners: none

fix(chungthuang): Add localhost:1337 the admin UI to CORS origins
  config/middlewares.js
Owners: none

Update staging image to devlaunchers/strapi:08a178e-202307291830
  staging/kustomization.yaml
Owners: none

Added SVGs for experience levels
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/PageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
  apps/user-profile/src/images/junior-experience.svg
  apps/user-profile/src/images/mid-experience.svg
  apps/user-profile/src/images/onboarding-folders.svg
  apps/user-profile/src/images/senior-experience.svg
  apps/user-profile/src/images/user-profile.svg
Owners: none

fix(chungthuang): Add endpoint to logout
  src/extensions/users-permissions/controllers/auth.js
  src/extensions/users-permissions/routes/content-api/auth.js
  src/extensions/users-permissions/server/middlewares/jwt.js
  src/extensions/users-permissions/strapi-server.js
Owners: none

Update staging image to devlaunchers/strapi:f7e58d4-202307291923
  staging/kustomization.yaml
Owners: none

create dev command for tailwind classes
  packages/tailwind-constructor/package.json
Owners: @Enjoy2Live

Modal navigation with router implementation
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/context/OnboardingContext.js
  apps/user-profile/src/context/OnboardingDataContext.js
  apps/user-profile/src/context/UserDataContext.js
  apps/user-profile/src/pages/_app.js
  apps/user-profile/src/pages/users/me.js
  apps/user-profile/src/state/actions/index.js
  apps/user-profile/src/state/actions/onboardingActions.js
  apps/user-profile/src/state/reducers/index.js
  apps/user-profile/src/state/reducers/onboardingReducer.js
Owners: none

quick try fix
  apps/user-profile/src/pages/_app.js
Owners: none

feat(alicefate): change ideaCard schema
  src/api/idea-card/content-types/idea-card/schema.json
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
  src/extensions/documentation/public/index.html
  src/extensions/users-permissions/content-types/user/schema.json
Owners: none

Hook up hasOnboarded boolean to userData
  apps/user-profile/src/context/UserDataContext.js
  apps/user-profile/src/pages/users/me.js
Owners: none

build fix
  apps/user-profile/src/pages/users/me.js
Owners: none

quick expression change
  apps/user-profile/src/pages/users/me.js
Owners: none

fix(alicefate): update checkbox style
  apps/ideaspace/src/components/common/IdeaForm/IdeaForm.js
Owners: @dev-launchers/ideaspace-team

build fix 2
  apps/user-profile/src/context/UserDataContext.js
  apps/user-profile/src/pages/users/me.js
Owners: none

Update staging image to devlaunchers/strapi:462f029-202307301739
  staging/kustomization.yaml
Owners: none

Created the static stepper component
  apps/user-profile/src/components/modules/UserOnboarding/OnboardingForm/OnboardingForm.js
  apps/user-profile/src/components/modules/UserOnboarding/OnboardingForm/StyledOnboardingForm.js
  apps/user-profile/src/images/Onboarding/breadcrumb-frame.png
Owners: none

Impoted image source as SVG
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/StyledPageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/images/RoleCard/developer.svg
  apps/user-profile/src/images/RoleCard/other.svg
  apps/user-profile/src/images/RoleCard/ux-ui.svg
Owners: none

fix issues with staging apps envs
  .github/workflows/staging-apps.yaml
Owners: none

Upgrade staging image to devlaunchers/platform-website:8379ef7-202307310705
  staging/kustomization.yaml
Owners: none

update(alicefate): styledCheckbox
  apps/ideaspace/src/components/common/IdeaForm/IdeaForm.js
  apps/ideaspace/src/components/common/IdeaForm/StyledCheckbox.tsx
Owners: @dev-launchers/ideaspace-team

setup confirmation screen
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/ConfirmationModal.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/StyledConfirmationModal.js
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/index.js
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/PositionCard.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/StyledPositionCard.ts
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/modal_style.css
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
  apps/dev-recruiters/src/components/modules/FormPage/styledSignupForm.ts
  apps/dev-recruiters/src/pages/[slug]/apply.tsx
Owners: @dev-launchers/dev-recruit-team

hookup role cards with their list of open position
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/RolesList/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/SelectRole.tsx
Owners: @dev-launchers/dev-recruit-team
