Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

member since null checks
  apps/user-profile/src/components/modules/UserProfile/ProfileCard/ProfileCard.js
  apps/user-profile/src/components/modules/UserProfile/ProfileCard/StyledProfileCard.js
Owners: none

renaming folders
  apps/user-profile/src/components/modules/OnboardingLandingPage/OnboardingForm/OnboardingForm.js
  apps/user-profile/src/components/modules/OnboardingLandingPage/OnboardingForm/StyledOnboardingForm.js
  apps/user-profile/src/components/modules/OnboardingLandingPage/OnboardingForm/index.js
  apps/user-profile/src/components/modules/OnboardingLandingPage/OnboardingLandingPage.js
  apps/user-profile/src/components/modules/OnboardingLandingPage/StyledOnboardingLandingPage.js
  apps/user-profile/src/components/modules/OnboardingLandingPage/index.js
  apps/user-profile/src/components/modules/UserOnboarding/index.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
  apps/user-profile/src/pages/onboarding.js
Owners: none

build fix
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/PageTwo.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
Owners: none

styling fix
  apps/user-profile/src/components/common/Stepper/StyledStepper.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
Owners: none

undefined url fix from merging with master
  apps/user-profile/src/components/modules/UserProfile/UserProfile.js
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
Owners: @dev-launchers/platform-enablement

quick changes
  apps/user-profile/src/components/common/Stepper/StyledStepper.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
Owners: none

fixing user data issues
  apps/user-profile/src/content/collections/template.json
  apps/user-profile/src/content/collections/userOnboardingModal.json
  apps/user-profile/src/content/collections/userProfile.json
  apps/user-profile/src/context/UserDataContext.js
Owners: none

encounter blocker-1
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/CongratulationsPage/AnimationComponent.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/CongratulationsPage/CongratulationsPage.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/CongratulationsPage/StyledCongratulationsPage.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/CongratulationsPage/index.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/PageOne.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/StyledPageOne.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/index.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
Owners: none

1
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/CongratulationsPage/CongratulationsPage.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/CongratulationsPage/StyledCongratulationsPage.js
Owners: none

fix: boxShadow transformation
  .github/workflows/create-tokens.yml
  packages/tailwind-constructor/build.js
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
Owners: @dev-launchers/platform-enablement

Created InterestBubble Component
  apps/user-profile/src/components/modules/UserOnboardingModal/InterestBubble/InterestBubble.js
  apps/user-profile/src/components/modules/UserOnboardingModal/InterestBubble/StyledInterestBubble.js
  apps/user-profile/src/components/modules/UserOnboardingModal/InterestBubble/index.js
Owners: none

Created InterestBubble Component
  apps/user-profile/src/components/modules/UserOnboardingModal/InterestBubble/InterestBubble.js
Owners: none

Merged from dev and updated css
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

move brand colors to be at root level
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

on mobile colapse positions by dfault
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleSection/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleSection/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/StyledNewJoinPage.ts
Owners: @dev-launchers/dev-recruit-team

change card alignement on mobile
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleSection/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

Update tag component with new class names
  packages/UI/src/components/atoms/Tag/Tag.tsx
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

Animated ImageContainer
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/PageTwo.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageTwo/StyledPageTwo.js
Owners: none

Modify veriables using acronyms to full names
  apps/user-profile/src/components/modules/UserOnboardingModal/InterestBubble/InterestBubble.js
Owners: none

chore: remove unsed and conflicting deps
  apps/dev-recruiters/package.json
  apps/site-projects/.storybook/main.js
  apps/site-projects/.storybook/preview-head.html
  apps/site-projects/.storybook/preview.js
  apps/site-projects/package.json
  apps/site-projects/src/stories/Button.stories.tsx
  apps/site-projects/src/stories/Button.tsx
  apps/site-projects/src/stories/Header.stories.tsx
  apps/site-projects/src/stories/Header.tsx
  apps/site-projects/src/stories/Introduction.stories.mdx
  apps/site-projects/src/stories/Page.stories.tsx
  apps/site-projects/src/stories/Page.tsx
  apps/site-projects/src/stories/Pages/ProjectsAggregator.stories.jsx
  apps/site-projects/src/stories/assets/code-brackets.svg
  apps/site-projects/src/stories/assets/colors.svg
  apps/site-projects/src/stories/assets/comments.svg
  apps/site-projects/src/stories/assets/direction.svg
  apps/site-projects/src/stories/assets/flow.svg
  apps/site-projects/src/stories/assets/plugin.svg
  apps/site-projects/src/stories/assets/repo.svg
  apps/site-projects/src/stories/assets/stackalt.svg
  apps/site-projects/src/stories/button.css
  apps/site-projects/src/stories/header.css
  apps/site-projects/src/stories/page.css
  package.json
  yarn.lock
Owners: @Enjoy2Live

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
