Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live

adding yarn.lock
  yarn.lock
Owners: none

Update Stepper Component
  apps/user-profile/src/components/common/ProgressStepper/ProgressStepper.js
  apps/user-profile/src/components/common/ProgressStepper/ProgressStepperSteps.js
  apps/user-profile/src/components/common/ProgressStepper/StyledProgressStepper.js
  apps/user-profile/src/components/common/ProgressStepper/index.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/context/ProgressStepperContext.js
  apps/user-profile/src/pages/_app.js
Owners: none

remove duplicated import
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
Owners: @dev-launchers/ideaspace-team

Added logged in context for testing
  apps/site-projects/src/context/UserDataContext.js
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/platform-enablement

renamed black token to blackk
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

working exampple
  packages/UI/.storybook/main.js
  packages/UI/.storybook/preview.jsx
  packages/UI/package.json
  packages/UI/src/components/atoms/NewButton/NewButton.stories.tsx
  packages/UI/src/components/atoms/NewButton/NewButton.tsx
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tailwind.config.js
  packages/tailwind-constructor/tokens.json
  packages/tailwind-constructor/tokens/core.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

Update Tokens
  packages/tailwind-constructor/output/core.json
Owners: @dev-launchers/platform-enablement

Second button variant.
  packages/UI/src/components/atoms/NewButton/NewButton.stories.tsx
  packages/UI/src/components/atoms/NewButton/NewButton.tsx
Owners: @dev-launchers/platform-enablement

update percy.yml with parsed chromatic URL
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

update percy.yml commands
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

created a new page
  apps/app/pages/projects/survey.jsx
  apps/site-projects/src/pages/survey.jsx
Owners: @Enjoy2Live, @pyxld-kris

demoing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

fix: fixing bugs
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

created a close behavior to EditorNotification dialog box
  apps/site-projects/src/components/modules/Projects/Project/EditorNotification/EditorNotification.js
  packages/UI/src/components/molecules/Alert/Alert.tsx
  packages/UI/src/components/molecules/Alert/StyledAlert.ts
  packages/UI/src/components/molecules/Alert/index.ts
Owners: @dev-launchers/platform-enablement

feat(alicefate):ideaSubmissionTC
  apps/app/pages/ideaspace/ideaSubmissionTC.js
  apps/ideaspace/package.json
  apps/ideaspace/src/components/common/BackButton/BackButton.js
  apps/ideaspace/src/components/common/BackButton/StyledBackButton.js
  apps/ideaspace/src/components/common/IdeaForm/IdeaForm.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/IdeaSubmissionTC/IdeaSubmissionTC.js
  apps/ideaspace/src/components/modules/IdeaSubmissionTC/MarkdownIdeaspaceTC.js
  apps/ideaspace/src/components/modules/IdeaSubmissionTC/StyledIdeaSubmissionTC.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
  apps/ideaspace/src/pages/ideaSubmissionTC.js
  yarn.lock
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/ideaspace-team

commit merging
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
Owners: @dev-launchers/ideaspace-team

Update create-tokens.yml
  .github/workflows/create-tokens.yml
Owners: none

Revert "helioLJ/fix-searchresult-in-projects"
  apps/site-projects/src/components/modules/Projects/Projects.js
Owners: none

reverting component changes
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

Upgrade staging image to devlaunchers/platform-website:65d0826-202307071649
  staging/kustomization.yaml
Owners: none

Upgrade staging image to devlaunchers/platform-website:279e1fb-202307071721
  staging/kustomization.yaml
Owners: none

improve-alert-component
  packages/UI/src/components/molecules/Alert/Alert.stories.tsx
  packages/UI/src/components/molecules/Alert/Alert.tsx
  packages/UI/src/components/molecules/Alert/StyledAlert.ts
  packages/UI/src/components/molecules/Alert/index.ts
Owners: @dev-launchers/platform-enablement

feat: added storybook to ideaspace
  apps/ideaspace/.storybook/main.ts
  apps/ideaspace/.storybook/preview.ts
  apps/ideaspace/package.json
  apps/ideaspace/src/stories/Button.stories.ts
  apps/ideaspace/src/stories/Button.tsx
  apps/ideaspace/src/stories/Header.stories.ts
  apps/ideaspace/src/stories/Header.tsx
  apps/ideaspace/src/stories/Introduction.mdx
  apps/ideaspace/src/stories/Page.stories.ts
  apps/ideaspace/src/stories/Page.tsx
  apps/ideaspace/src/stories/assets/code-brackets.svg
  apps/ideaspace/src/stories/assets/colors.svg
  apps/ideaspace/src/stories/assets/comments.svg
  apps/ideaspace/src/stories/assets/direction.svg
  apps/ideaspace/src/stories/assets/flow.svg
  apps/ideaspace/src/stories/assets/plugin.svg
  apps/ideaspace/src/stories/assets/repo.svg
  apps/ideaspace/src/stories/assets/stackalt.svg
  apps/ideaspace/src/stories/button.css
  apps/ideaspace/src/stories/header.css
  apps/ideaspace/src/stories/page.css
  yarn.lock
Owners: @dev-launchers/ideaspace-team, @Enjoy2Live

upgrade components storybook
  packages/UI/.storybook/preview.jsx
  packages/UI/.storybook/preview.tsx
  packages/UI/package.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

feat: added storybook to dev-recruit
  apps/dev-recruiters/.storybook/main.ts
  apps/dev-recruiters/.storybook/preview.ts
  apps/dev-recruiters/package.json
  apps/dev-recruiters/src/stories/Button.stories.ts
  apps/dev-recruiters/src/stories/Button.tsx
  apps/dev-recruiters/src/stories/Header.stories.ts
  apps/dev-recruiters/src/stories/Header.tsx
  apps/dev-recruiters/src/stories/Introduction.mdx
  apps/dev-recruiters/src/stories/Page.stories.ts
  apps/dev-recruiters/src/stories/Page.tsx
  apps/dev-recruiters/src/stories/assets/code-brackets.svg
  apps/dev-recruiters/src/stories/assets/colors.svg
  apps/dev-recruiters/src/stories/assets/comments.svg
  apps/dev-recruiters/src/stories/assets/direction.svg
  apps/dev-recruiters/src/stories/assets/flow.svg
  apps/dev-recruiters/src/stories/assets/plugin.svg
  apps/dev-recruiters/src/stories/assets/repo.svg
  apps/dev-recruiters/src/stories/assets/stackalt.svg
  apps/dev-recruiters/src/stories/button.css
  apps/dev-recruiters/src/stories/header.css
  apps/dev-recruiters/src/stories/page.css
  yarn.lock
Owners: @dev-launchers/dev-recruit-team, @Enjoy2Live

feat: added storybook to site-projects
  apps/site-projects/.storybook/main.js
  apps/site-projects/.storybook/main.ts
  apps/site-projects/.storybook/preview.js
  apps/site-projects/.storybook/preview.ts
  apps/site-projects/package.json
  apps/site-projects/src/stories/Button.stories.ts
  apps/site-projects/src/stories/Button.stories.tsx
  apps/site-projects/src/stories/Button.tsx
  apps/site-projects/src/stories/Header.stories.ts
  apps/site-projects/src/stories/Header.stories.tsx
  apps/site-projects/src/stories/Header.tsx
  apps/site-projects/src/stories/Introduction.mdx
  apps/site-projects/src/stories/Introduction.stories.mdx
  apps/site-projects/src/stories/Page.stories.ts
  apps/site-projects/src/stories/Page.stories.tsx
  apps/site-projects/src/stories/Page.tsx
  apps/site-projects/src/stories/Pages/ProjectsAggregator.stories.jsx
  apps/site-projects/src/stories/header.css
  apps/site-projects/src/stories/page.css
  yarn.lock
Owners: @Enjoy2Live

feat: added storybook to website
  apps/website/.storybook/main.ts
  apps/website/.storybook/preview.ts
  apps/website/package.json
  apps/website/src/stories/Button.stories.ts
  apps/website/src/stories/Button.tsx
  apps/website/src/stories/Header.stories.ts
  apps/website/src/stories/Header.tsx
  apps/website/src/stories/Introduction.mdx
  apps/website/src/stories/Page.stories.ts
  apps/website/src/stories/Page.tsx
  apps/website/src/stories/assets/code-brackets.svg
  apps/website/src/stories/assets/colors.svg
  apps/website/src/stories/assets/comments.svg
  apps/website/src/stories/assets/direction.svg
  apps/website/src/stories/assets/flow.svg
  apps/website/src/stories/assets/plugin.svg
  apps/website/src/stories/assets/repo.svg
  apps/website/src/stories/assets/stackalt.svg
  apps/website/src/stories/button.css
  apps/website/src/stories/header.css
  apps/website/src/stories/page.css
  yarn.lock
Owners: @Enjoy2Live, @pyxld-kris

fixed merge error
  apps/site-projects/src/components/modules/Projects/Project/Project.js
Owners: none

feat: global storybook for better shareability and exposure.
  apps/dev-recruiters/.storybook/main.ts
  apps/dev-recruiters/package.json
  apps/ideaspace/.storybook/main.ts
  apps/ideaspace/package.json
  apps/site-projects/.storybook/main.ts
  apps/site-projects/package.json
  apps/website/.storybook/main.ts
  apps/website/package.json
  package.json
  packages/UI/.storybook/main.js
Owners: @dev-launchers/dev-recruit-team, @Enjoy2Live, @dev-launchers/ideaspace-team, @pyxld-kris, @dev-launchers/platform-enablement

Import isAuthenticated in IdeaCard component
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
Owners: @dev-launchers/ideaspace-team

comment out storybook testing job
  .github/workflows/chromatic.yml
Owners: none

Adding Page Fourth Onboarding Page
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/PageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/StyledPageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/index.js
Owners: none

Adding Page Fourth Onboarding Page Subtitle
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/PageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/StyledPageFour.js
Owners: none

fix(conditional statement for local login)
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris

fix(remove console log from testing)
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
Owners: @dev-launchers/platform-enablement

clean code from testing
  apps/website/src/components/modules/UserProfile/UserProfile.js
  apps/website/src/pages/create.js
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
  packages/UI/src/context/UserDataContext.js
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

Create featureflags.js
  apps/user-profile/src/utils/featureflags.js
Owners: none

feat(alicefate):update url, phoneSize stickingPart
  apps/app/pages/ideaspace/terms-and-conditions.js
  apps/ideaspace/src/components/common/IdeaForm/IdeaForm.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/IdeaSubmissionTC/IdeaSubmissionTC.js
  apps/ideaspace/src/components/modules/IdeaSubmissionTC/StyledIdeaSubmissionTC.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/ideaspace-team
