Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

fix(get rid of env() calls)
  apps/dev-recruiters/src/components/common/Footer/Newsletter/Newsletter.js
  apps/dev-recruiters/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/dev-recruiters/src/components/common/SignUpForm/SignUpForm.js
  apps/dev-recruiters/src/utils/Logout.js
  apps/ideaspace/src/utils/Logout.js
  apps/site-projects/src/components/common/Footer/Newsletter/Newsletter.js
  apps/site-projects/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/site-projects/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/site-projects/src/components/common/SignUpForm/SignUpForm.js
  apps/site-projects/src/pages/[slug].jsx
  apps/site-projects/src/pages/index.jsx
  apps/site-projects/src/utils/Logout.js
  apps/website/src/components/common/Footer/Newsletter/Newsletter.js
  apps/website/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/website/src/components/modules/SignUp/SignUp.js
  apps/website/src/components/modules/UserProfile/BioBox/BioBox.js
  apps/website/src/components/modules/UserProfile/DiscordSection/ConnectDiscord/ConnectDiscord.js
  apps/website/src/components/modules/UserProfile/DiscordSection/DiscordProfile/Beans/Beans.js
  apps/website/src/context/ProjectsContext.js
  apps/website/src/pages/users/[username].js
  apps/website/src/utils/Logout.js
  packages/UI/src/components/organisms/HamburgerMenu/HamburgerMenu.tsx
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix(remove environmentVariable files)
  apps/dev-recruiters/src/utils/EnvironmentVariables.js
  apps/ideaspace/src/utils/EnvironmentVariables.js
  apps/site-projects/src/utils/EnvironmentVariables.js
  apps/website/src/utils/EnvironmentVariables.js
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris

use local storage
  apps/ideaspace/src/components/modules/WorkshoppingPage/StyledComponents.js
  apps/site-projects/src/components/common/Header/Header.js
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/pages/_app.jsx
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/Header.js
  apps/website/src/components/modules/UserProfile/UserInterests/UserInterests.js
  apps/website/src/components/modules/UserProfile/UserProfile.js
  apps/website/src/pages/create.js
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix(get rid of calls to update context state directly)
  apps/ideaspace/src/components/modules/DashboardPage/DashboardPage.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/IdeaOverview/IdeaSettingsCard/IdeaSettingsCard.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/useFetchIdea.js
  apps/website/src/components/modules/UserProfile/UserInterests/UserInterests.js
  apps/website/src/context/ProjectsContext.js
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix(clean code)
  apps/dev-recruiters/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/website/src/components/modules/SignUp/SignUp.js
Owners: @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris

added options to the donate button
  apps/site-projects/src/components/modules/Projects/Project/JoinSupport/JoinSupport.js
  apps/site-projects/src/components/modules/Projects/Project/Vision/Vision.js
Owners: none

fix(remove console log)
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/platform-enablement

fix(clear user data from local when logging out)
  apps/dev-recruiters/src/utils/Logout.js
  apps/ideaspace/src/utils/Logout.js
  apps/site-projects/src/utils/Logout.js
  apps/website/src/utils/Logout.js
  packages/UI/src/utils/Logout.js
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

meeting sessions no longer appear for non members of the team
  apps/site-projects/src/components/modules/Projects/Project/Project.js
Owners: none

adding redirect to the join now link
  apps/site-projects/src/components/modules/Projects/Project/JoinSupport/JoinSupport.js
  apps/site-projects/src/components/modules/Projects/Project/Vision/Vision.js
Owners: none

Animate the logo in the first onboarding page
  apps/user-profile/package.json
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/PageOne.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/StyledPageOne.js
  yarn.lock
Owners: @Enjoy2Live

notes
  packages/tailwind-constructor/build.js
Owners: @dev-launchers/platform-enablement

yarn.lock updated
  yarn.lock
Owners: none

Updating env variable to use staging data.
  apps/app/.env.development
  apps/user-profile/src/context/UserDataContext.js
Owners: @Enjoy2Live, @pyxld-kris

adding comment
  apps/user-profile/src/context/UserDataContext.js
Owners: none

adding console.logs
  apps/website/src/context/UserDataContext.js
Owners: @Enjoy2Live, @pyxld-kris

adding console log for debugging
  apps/user-profile/src/context/UserDataContext.js
Owners: none

Added placeholder for stepper and styling changes
  apps/user-profile/src/components/modules/UserOnboarding/OnboardingForm/OnboardingForm.js
  apps/user-profile/src/components/modules/UserOnboarding/OnboardingForm/StyledOnboardingForm.js
  apps/user-profile/src/components/modules/UserOnboarding/UserOnboarding.js
Owners: none

dbradham(wip-user data context migration)
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/platform-enablement

github workflow.
  .github/workflows/create-tokens.yml
Owners: none

Update Tokens
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

updates to context provider
  apps/website/src/components/modules/UserProfile/UserProfile.js
  apps/website/src/pages/_app.js
Owners: @Enjoy2Live, @pyxld-kris

fix(improve how we handle setUserData)
  apps/ideaspace/src/components/modules/DashboardPage/DashboardPage.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/IdeaOverview/IdeaSettingsCard/IdeaSettingsCard.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/useFetchIdea.js
  apps/website/src/components/modules/UserProfile/UserInterests/UserInterests.js
  apps/website/src/context/ProjectsContext.js
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix(better handling of logout)
  apps/dev-recruiters/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/dev-recruiters/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/dev-recruiters/src/components/common/Header/Header.js
  apps/dev-recruiters/src/utils/Logout.js
  apps/ideaspace/src/utils/Logout.js
  apps/site-projects/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/site-projects/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/site-projects/src/components/common/Header/Header.js
  apps/site-projects/src/utils/Logout.js
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/website/src/components/common/Header/Header.js
  apps/website/src/utils/Logout.js
  packages/UI/src/components/organisms/HamburgerMenu/HamburgerMenu.tsx
  packages/UI/src/components/organisms/Navigation/MobileNavigation.tsx
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
  packages/UI/src/utils/Logout.js
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix(remove multiple calls to providers)
  apps/dev-recruiters/src/pages/_app.jsx
  apps/ideaspace/src/pages/_app.js
  apps/site-projects/src/pages/_app.jsx
  apps/website/src/pages/_app.js
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris

update deps and percy.yml commands
  .github/workflows/percy.yml
  packages/UI/package.json
  packages/UI/src/components/atoms/Link/Link.tsx
  yarn.lock
Owners: @Enjoy2Live, @dev-launchers/platform-enablement

remove @percy/script from config
  packages/UI/package.json
  packages/UI/src/components/atoms/Link/Link.tsx
  yarn.lock
Owners: @Enjoy2Live, @dev-launchers/platform-enablement

include latest percy.yml changes
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

update percy.yml formatting
  .github/workflows/percy.yml
Owners: none

feat: saving last search parameter
  apps/dev-recruiters/src/components/common/Slider/Slider.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/FilteringComponent/FilteringComponent.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/useProject.tsx
Owners: @dev-launchers/dev-recruit-team

do not render outdated project milestones in project page
  apps/site-projects/src/components/modules/Projects/Project/Project.js
Owners: none

Reverted changes to UserOnboardingModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
Owners: none

wip
  apps/app/.env.development
Owners: @Enjoy2Live, @pyxld-kris

Add like button to idea card
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
Owners: @dev-launchers/ideaspace-team

#1207 formatted text for potential sponsor
  apps/site-projects/src/components/modules/Projects/Project/HelpBuild/HelpBuild.js
Owners: none

#1206 hide project lead email
  apps/site-projects/src/components/modules/Projects/Project/Team/Team.js
Owners: none

Code refinement
  apps/user-profile/src/context/UserDataContext.js
  apps/user-profile/src/pages/users/me.js
Owners: none

This file is not needed
  yarn.lock
Owners: none

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
