Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live

fix(chungthuang): Add v4 domains to CORS
  config/middlewares.js
Owners: none

Update staging image to devlaunchers/strapi:b386f16-202308032239
  staging/kustomization.yaml
Owners: none

import banner image
  apps/app/public/images/heading-image.png
Owners: @Enjoy2Live, @pyxld-kris

create and style the filterPage
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/styledFilterPage.jsx
Owners: @dev-launchers/dev-recruit-team

style the RoleCard
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/styledRoleCard.ts
Owners: @dev-launchers/dev-recruit-team

remove from newjoin
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

Update style
  apps/dev-recruiters/src/components/modules/FilterPage/styledFilterPage.jsx
Owners: @dev-launchers/dev-recruit-team

added tailwind variants
  packages/UI/.storybook/preview.jsx
  packages/UI/package.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

fix duplicated tw categories
  packages/tailwind-constructor/build.js
  packages/tailwind-constructor/custom.css
  packages/tailwind-constructor/tailwind.config.js
Owners: @dev-launchers/platform-enablement

added gap values
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

stylize the confirmation modal
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/ConfirmationModal.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/StyledConfirmationModal.js
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/StyledConfirmationModal.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/Modal.css
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/PositionCard.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/modal_style.css
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionPopupModal/Modal.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionPopupModal/StyledModal.tsx
  apps/dev-recruiters/src/components/modules/FormPage/styledSignupForm.ts
Owners: @dev-launchers/dev-recruit-team

feat: create the filter page
  apps/app/pages/join/filter.jsx
  apps/app/pages/join/newjoin.jsx
  apps/app/pages/join/oldjoin.jsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/Commitment/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/Commitment/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/RolesButtons/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/RolesButtons/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/styledRoleCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/styledFilterPage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/ContainerImage/StyledContainerImage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/RolesList/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleSection/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleSection/styles.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/SelectRole.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/StyledSelectRole.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/StyledNewJoinPage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
  apps/dev-recruiters/src/contexts/SelectRoleContext.js
  apps/dev-recruiters/src/images/icons/checkbox.png
  apps/dev-recruiters/src/pages/filter.tsx
  apps/dev-recruiters/src/pages/index.tsx
  apps/dev-recruiters/src/pages/newjoin.tsx
  apps/dev-recruiters/src/pages/oldjoin.tsx
  apps/dev-recruiters/src/styles/globals.js
  apps/dev-recruiters/src/styles/theme.ts
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/dev-recruit-team

update role card styles
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/RolesButtons/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/styledRoleCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/styledFilterPage.ts
  apps/dev-recruiters/src/pages/index.tsx
Owners: @dev-launchers/dev-recruit-team

connect confirmation screen with apply
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/PositionCard.tsx
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
Owners: @dev-launchers/dev-recruit-team

update checkbox style
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
Owners: @dev-launchers/dev-recruit-team

fix(chungthuang): Fix missing routes for projects collection
  src/api/project/documentation/1.0.0/project.json
  src/api/project/routes/project.js
Owners: none

Update production image to devlaunchers/strapi:1.3.0
  production/kustomization.yaml
Owners: none

attach more details with popup modal
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/PositionCard.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/Commitment/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/styledRoleCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleModal/RoleDetailsModal.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RoleModal/StyledRoleModal.ts
  apps/dev-recruiters/src/components/modules/FilterPage/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/styledFilterPage.ts
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/RolesComponent/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/RolesList/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/CollapsibleContainer/index.tsx
Owners: @dev-launchers/dev-recruit-team

Update staging image to devlaunchers/strapi:344875f-202308052213
  staging/kustomization.yaml
Owners: none

some style fixes
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/StyledPositionCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleCard/styledRoleCard.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RoleModal/RoleDetailsModal.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RoleModal/StyledRoleModal.ts
  apps/dev-recruiters/src/components/modules/FilterPage/styledFilterPage.ts
  apps/dev-recruiters/src/pages/filter.tsx
Owners: @dev-launchers/dev-recruit-team

Working with the updated visual design further
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/CommentForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/SingleComment.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
Owners: @dev-launchers/ideaspace-team

Debugging because the comments are not showing
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
  apps/ideaspace/src/components/modules/BrowseIdeas/BrowseIdeas.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/CommentForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/IdeaOverview/IdeaOverview.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/useFetchIdea.js
Owners: @dev-launchers/ideaspace-team

fix(alicefate): link cursor pointer
  apps/ideaspace/src/components/modules/IdeaSubmissionTC/IdeaSubmissionTC.js
Owners: @dev-launchers/ideaspace-team

feat(use environment variables instead of https://devlaunchers.org)
  apps/app/.env.development
  apps/app/.env.production
  apps/app/.env.staging
  apps/app/.env.test
  apps/dev-recruiters/src/components/common/Footer/Newsletter/Newsletter.js
  apps/dev-recruiters/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/dev-recruiters/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/dev-recruiters/src/components/modules/LoginPage/loginPage.tsx
  apps/dev-recruiters/src/pages/[slug]/apply.tsx
  apps/dev-recruiters/src/pages/[slug]/index.tsx
  apps/dev-recruiters/src/pages/confirmation.tsx
  apps/dev-recruiters/src/pages/index.tsx
  apps/dev-recruiters/src/pages/login.tsx
  apps/dev-recruiters/src/pages/second.tsx
  apps/ideaspace/src/components/common/SignInButton/SignInButton.js
  apps/ideaspace/src/components/modules/DashboardPage/DashboardPage.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/CommentForm.js
  apps/site-projects/src/components/common/Footer/Newsletter/Newsletter.js
  apps/site-projects/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/site-projects/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/site-projects/src/components/modules/Projects/Project/HelpBuild/HelpBuild.js
  apps/site-projects/src/pages/[slug].jsx
  apps/site-projects/src/pages/index.jsx
  apps/website/src/components/common/Footer/Newsletter/Newsletter.js
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/AccountDropdown/AccountDropdown.js
  apps/website/src/components/modules/Home/Home.js
  apps/website/src/components/modules/UserProfile/UserProjects/UserProjects.js
  apps/website/src/pages/index.js
  packages/UI/src/components/organisms/Footer/Newsletter/Newsletter.js
  packages/UI/src/components/organisms/HamburgerMenu/HamburgerMenu.tsx
  packages/UI/src/components/organisms/Navigation/MobileNavigation.tsx
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @dev-launchers/platform-enablement

commiting changes
  apps/app/.env.development
  apps/site-projects/src/utils/EnvironmentVariables.js
  packages/utility/agent.ts
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

code cleanup
  apps/dev-recruiters/src/components/modules/DetailedPage/Confirmation/ConfirmationModal.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/FilterComponent/RolesButtons/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/index.tsx
Owners: @dev-launchers/dev-recruit-team

Imported SVG files for role icons
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/StyledPageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/images/Onboarding/RoleCard/developer.svg
  apps/user-profile/src/images/Onboarding/RoleCard/other.svg
  apps/user-profile/src/images/Onboarding/RoleCard/ux-ui.svg
Owners: none

milestones is undefined bug fix
  apps/site-projects/src/components/modules/Projects/Project/Project.js
Owners: none

task undefined build error fix
  apps/site-projects/src/components/modules/Projects/Project/Milestones/MilestoneSlider.js
Owners: none

Revert "styling resources section"
  apps/site-projects/src/components/modules/Resources/ProjectResources/StyledProjectResources.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/StyledTeamLinks.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
Owners: none

task is undefined in project component error fix to fix pr build error
  apps/site-projects/src/components/modules/Projects/Project/Project.js
Owners: none

adding absolute import from the UI packages
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/ResourceCard.js
Owners: none

fix tailwind transpiling tokens wrongly
  packages/UI/package.json
  packages/tailwind-constructor/build.js
  packages/tailwind-constructor/package-lock.json
  packages/tailwind-constructor/package.json
  packages/tailwind-constructor/postcss.config.js
  packages/tailwind-constructor/styles.css
  packages/tailwind-constructor/tailwind.config.js
  yarn.lock
Owners: @Enjoy2Live, @dev-launchers/platform-enablement

moved fontFamily to the root
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

fix tailwind transpiling tokens wrongly
  packages/UI/package.json
  packages/tailwind-constructor/build.js
  packages/tailwind-constructor/package-lock.json
  packages/tailwind-constructor/package.json
  packages/tailwind-constructor/postcss.config.js
  packages/tailwind-constructor/styles.css
  packages/tailwind-constructor/tailwind.config.js
  yarn.lock
Owners: @Enjoy2Live, @dev-launchers/platform-enablement

remove colors nested folder
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Refactor spacing tokens to have no folders
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

fix issues with yarn not installing correctly
  yarn.lock
Owners: none
