Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

feat: create sign up button and implementig logic in it
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/StyledNewJoinPage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
  apps/dev-recruiters/src/styles/theme.ts
Owners: @dev-launchers/dev-recruit-team

feat:comment and instrutions to test if the calendle is on projects
  apps/site-projects/src/components/modules/Projects/Project/Team/Team.js
  apps/site-projects/src/utils/EnvironmentVariables.js
Owners: none

feat: add introduction section and image section
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/ContainerImage/StyledContainerImage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/StyledNewJoinPage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

fixed warning on vision.js page
  apps/site-projects/src/components/modules/Projects/Project/Vision/Vision.js
Owners: none

created resources page
  apps/app/pages/projects/resources.jsx
  apps/app/public/images/projects/resources/logos/chromatic.svg
  apps/app/public/images/projects/resources/logos/discord.svg
  apps/app/public/images/projects/resources/logos/figma.svg
  apps/app/public/images/projects/resources/logos/github.svg
  apps/app/public/images/projects/resources/logos/google-drive.svg
  apps/app/public/images/projects/resources/logos/zenhub.svg
  apps/site-projects/src/components/modules/Resources/ProjectResources/ProjectResources.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/ResourceCard.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/index.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/index.js
  apps/site-projects/src/components/modules/Resources/YourProjects/YourProjects.js
  apps/site-projects/src/components/modules/Resources/YourProjects/index.js
  apps/site-projects/src/components/modules/Resources/index.js
  apps/site-projects/src/pages/resources.jsx
Owners: @Enjoy2Live, @pyxld-kris

added styles
  apps/site-projects/src/components/modules/Resources/ProjectResources/ProjectResources.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/StyledProjectResources.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/ResourceCard.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/StyledResourceCard.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/StyledTeamLinks.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
  apps/site-projects/src/components/modules/Resources/StyledResources.js
  apps/site-projects/src/components/modules/Resources/index.js
Owners: none

styling resources section
  apps/site-projects/src/components/modules/Resources/ProjectResources/StyledProjectResources.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/StyledTeamLinks.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
Owners: none

extend tailwind config
  packages/tailwind-constructor/index.html
  packages/tailwind-constructor/tailwind.config.js
Owners: @dev-launchers/platform-enablement

combined chromatic and percy config files
  .github/workflows/chromatic.yml
  .github/workflows/percy.yml
Owners: none

Issue#1231-add back button to project page
  apps/site-projects/src/components/modules/Projects/Project/Description/DescriptionContent/DescriptionContent.js
  apps/site-projects/src/components/modules/Projects/Project/HeroSection/HeroSection.js
Owners: none

stash branch
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/components/modules/Projects/Project/Team/Team.js
Owners: none

fix cors for staging apps
  config/middlewares.js
Owners: none

Update staging image to devlaunchers/strapi:c3ccd6e-202307232132
  staging/kustomization.yaml
Owners: none

diplaying the resources on console
  apps/site-projects/src/components/modules/Projects/Project/HeroSection/HeroSection.js
  apps/site-projects/src/utils/EnvironmentVariables.js
Owners: none

fix(chungthuang): Customize google in providers-registry to create profile
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
  src/extensions/users-permissions/server/bootstrap/index.js
  src/extensions/users-permissions/server/middlewares/index.js
  src/extensions/users-permissions/server/middlewares/jwt.js
  src/extensions/users-permissions/server/services/providers-registry.js
  src/extensions/users-permissions/strapi-server.js
  src/index.js
Owners: none

Update staging image to devlaunchers/strapi:35ffcb0-202307241931
  staging/kustomization.yaml
Owners: none

fix(chungthuang): Set node version to 16 in release workflow and update package-lock
  .github/workflows/release.yaml
  package-lock.json
  package.json
  src/api/applicant/documentation/1.0.0/applicant.json
  src/api/category/documentation/1.0.0/category.json
  src/api/comment/documentation/1.0.0/comment.json
  src/api/github-repo/controllers/github-repo.js
  src/api/github-repo/documentation/1.0.0/github-repo.json
  src/api/google-meet/content-types/google-meet/lifecycles.js
  src/api/google-meet/documentation/1.0.0/google-meet.json
  src/api/idea-card/documentation/1.0.0/idea-card.json
  src/api/interest/documentation/1.0.0/interest.json
  src/api/like/documentation/1.0.0/like.json
  src/api/newsletter/documentation/1.0.0/newsletter.json
  src/api/opportunity/documentation/1.0.0/opportunity.json
  src/api/point/documentation/1.0.0/point.json
  src/api/profile/documentation/1.0.0/profile.json
  src/api/sendmail/documentation/1.0.0/sendmail.json
  src/api/time-capsule/documentation/1.0.0/time-capsule.json
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
Owners: @Enjoy2Live

fix(chungthuang): Fix indentation in release workflow
  .github/workflows/release.yaml
  package.json
Owners: @Enjoy2Live

chungthuang: Upgrade node to version 18
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  Dockerfile
  package-lock.json
  package.json
Owners: @Enjoy2Live

Update staging image to devlaunchers/strapi:a227682-202307242226
  staging/kustomization.yaml
Owners: none

Update production image to devlaunchers/strapi:1.1.0
  production/kustomization.yaml
Owners: none

fix tokens have spaces
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

Update create-tokens.yml
  .github/workflows/create-tokens.yml
Owners: none

fix padding tokens values
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

fix border radius tokens values
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

fix font size tokens values
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tailwind.css
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

add all categories to tailwind config
  packages/tailwind-constructor/tailwind.config.js
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

fix(chungthuang): Change inversedBy to mappedBy
  src/api/interest/content-types/interest/schema.json
  src/api/point/content-types/point/schema.json
  src/api/profile/content-types/profile/schema.json
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
Owners: none

Update staging image to devlaunchers/strapi:848b32c-202307252251
  staging/kustomization.yaml
Owners: none

Update production image to devlaunchers/strapi:1.1.1
  production/kustomization.yaml
Owners: none

ops(chungthuang): Increase initial delay seconds to 480s
  workload/deployment.yaml
Owners: none

ops(chungthuang): Increase CPU request to 128m and memory to 256Mi
  workload/deployment.yaml
Owners: none

Update staging image to devlaunchers/strapi:bf9aacd-202307252336
  staging/kustomization.yaml
Owners: none

Deleted an inappropriate img path
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/PageOne.js
Owners: none

setup the new modal
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/PositionCard.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/StyledPositionCard.ts
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionPopupModal/Modal.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionPopupModal/StyledModal.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionPopupModal/index.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/ProjectDetails.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/styledProjectDetails.ts
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/ProjectsListItem/ProjectListItem.tsx
Owners: @dev-launchers/dev-recruit-team

add gradient on modal
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/PositionCard.tsx
  apps/dev-recruiters/src/components/modules/DetailedPage/PositionCard/StyledPositionCard.ts
Owners: @dev-launchers/dev-recruit-team

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
