Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

feat:main resourcers projects, fix: styles,
  apps/site-projects/src/components/modules/Resources/ProjectResources/ProjectResources.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/ResourceCard.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/StyledResourceCard.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/StyledTeamLinks.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
  apps/site-projects/src/components/modules/Resources/index.js
Owners: none

Importing the UI theme and updating pages to use colors from that theme
  apps/site-projects/src/components/common/Card/StyledCard.tsx
  apps/site-projects/src/components/common/RainbowBar/RainbowBar.tsx
  apps/site-projects/src/components/common/RainbowBar/styled.RainbowBarTheme.ts
  apps/site-projects/src/components/common/Tag/StyledTag.js
  apps/site-projects/src/components/modules/Projects/Project/HelpBuild/StyledHelpBuild.js
  apps/site-projects/src/components/modules/Projects/Project/HeroSection/HeroSection.js
  apps/site-projects/src/components/modules/Projects/Project/JoinSupport/JoinSupport.js
  apps/site-projects/src/components/modules/Projects/Project/JoinSupport/StyledJoinSupport.js
  apps/site-projects/src/components/modules/Projects/Project/Section/StyledSection.js
  apps/site-projects/src/components/modules/Projects/Project/StyledProject.js
  apps/site-projects/src/components/modules/Projects/Project/Tags/StyledTags.js
  apps/site-projects/src/components/modules/Projects/Project/Vision/StyledVision.js
  apps/site-projects/src/components/modules/Projects/Project/Vision/Vision.js
  apps/site-projects/src/styles/globals.js
  apps/site-projects/src/styles/theme.ts
Owners: none

feat: create the logic of time commitment
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
  apps/dev-recruiters/src/contexts/RolesContext.js
  apps/dev-recruiters/src/contexts/SelectRoleContext.js
  apps/dev-recruiters/src/contexts/SelectRoleContext.tsx
  apps/dev-recruiters/src/pages/_app.jsx
  apps/dev-recruiters/tsconfig.json
Owners: @dev-launchers/dev-recruit-team

fix: fixing the design
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/checkBox.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/Commitment/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/styles.ts
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/SuggestedRole/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/SearchRoles/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/styles.ts
Owners: @dev-launchers/dev-recruit-team

fix: bug fix
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/CollapsibleContainerFilter/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/RolesFilterList/index.tsx
  apps/dev-recruiters/src/components/modules/FilterPage/RolesFilterComponent/index.tsx
Owners: @dev-launchers/dev-recruit-team

fix: bug fix
  apps/dev-recruiters/src/components/modules/FormPage/index.tsx
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
Owners: @dev-launchers/dev-recruit-team

new user from google auth with no project error fixed
  src/index.js
Owners: none

handle condition when users are created with no project
  src/index.js
Owners: none

fix: bug fix
  apps/dev-recruiters/src/pages/[slug]/index.tsx
Owners: @dev-launchers/dev-recruit-team

Debugging and updating
  apps/ideaspace/src/components/common/Button/Button.js
  apps/ideaspace/src/components/common/DialogBox/DialogBox.js
  apps/ideaspace/src/components/common/DialogBox/DialogBoxButton.js
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
  apps/ideaspace/src/components/common/IdeaCard/IdeaCardComment.js
  apps/ideaspace/src/components/common/IdeaCard/IdeaCardImg.js
  apps/ideaspace/src/components/common/IdeaCard/IdeaCardTag.js
  apps/ideaspace/src/components/common/IdeaCard/IdeaCardUpdated.js
  apps/ideaspace/src/components/common/IdeaCard/StyledIdeaCard.js
  apps/ideaspace/src/components/common/IdeaForm/EditionButton.js
  apps/ideaspace/src/components/common/IdeaForm/IdeaForm.js
  apps/ideaspace/src/components/modules/BrowseIdeas/BrowseIdeas.js
  apps/ideaspace/src/components/modules/BrowseIdeas/StyledBrowseIdeas.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/CommentForm.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/StyledComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/useFetchIdea.js
  packages/UI/src/context/UserDataContext.js
  packages/UI/src/hooks/useResponsive.tsx
Owners: @dev-launchers/ideaspace-team, @dev-launchers/platform-enablement

Update staging image to devlaunchers/strapi:de29f06-202308181912
  staging/kustomization.yaml
Owners: none

first commit
  apps/site-projects/src/components/modules/Resources/SectionResources/SectionResources.js
  apps/site-projects/src/components/modules/Resources/SectionResources/StyledSectionResources.js
  apps/site-projects/src/components/modules/Resources/SectionResources/index.js
  apps/site-projects/src/components/modules/Resources/TeamResources/PeopleDisplay/PeopleDisplay.js
  apps/site-projects/src/components/modules/Resources/TeamResources/PeopleDisplay/StyledPeopleDisplay.js
  apps/site-projects/src/components/modules/Resources/TeamResources/PeopleDisplay/index.js
  apps/site-projects/src/components/modules/Resources/TeamResources/StyledTeamResources.js
  apps/site-projects/src/components/modules/Resources/TeamResources/TeamResources.js
  apps/site-projects/src/components/modules/Resources/TeamResources/index.js
  apps/site-projects/src/components/modules/Resources/index.js
  apps/site-projects/src/context/UserDataContext.js
Owners: none

Second commit - modified ModalBody and Styled page
  apps/user-profile/src/components/modules/IntroductionModal/IntroductionModal.js
  apps/user-profile/src/components/modules/IntroductionModal/StyledIntroductionModal.js
Owners: none

Added second comment form at bottom of feed
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/StyledComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
  packages/UI/src/hooks/useResponsive.tsx
Owners: @dev-launchers/ideaspace-team, @dev-launchers/platform-enablement

chore: add shadow tokens
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

chore: add shadow tokens
  packages/tailwind-constructor/tokens.json
Owners: @dev-launchers/platform-enablement

Update Tokens
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

Making sure that new comments can be written
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/SingleComment.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
Owners: @dev-launchers/ideaspace-team

Comparing the two versions of DisplayComments and WorkshoppingPage
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
Owners: @dev-launchers/ideaspace-team

add in Pagination files
  packages/UI/src/components/molecules/Pagination/Pagination.stories.tsx
  packages/UI/src/components/molecules/Pagination/Pagination.tsx
Owners: @dev-launchers/platform-enablement

fix(import of isAuthenticated causing test to fail)
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
Owners: @dev-launchers/ideaspace-team

Update staging image to devlaunchers/strapi:aeafda5-202308231730
  staging/kustomization.yaml
Owners: none

fix: issues migrating /join to use strapiv4
  apps/app/.env.development
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregator/filtering/ProjectsListItem/ProjectListItem.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregatorWithRoles/filtering/ProjectsListItem/ProjectListItem.tsx
  apps/dev-recruiters/src/components/modules/OpportunitiesAggregatorWithRoles/filtering/useProject.tsx
  apps/dev-recruiters/src/pages/[slug]/index.tsx
  apps/dev-recruiters/src/pages/index.tsx
  apps/website/src/components/modules/UserProfile/UserProfile.js
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/dev-recruit-team

fix: issues migrating /projects/[slug] to strapiv4
  apps/app/next.config.js
  apps/site-projects/src/components/modules/Projects/Project/EditorNotification/EditorNotification.js
  apps/site-projects/src/components/modules/Projects/Project/HeroSection/HeroSection.js
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/components/modules/Projects/Projects.js
Owners: @Enjoy2Live, @pyxld-kris

feat: button from UI lib, fix Button components themes, adding btn in other resources
  apps/site-projects/src/components/modules/Resources/OtherResourcers/OtherResourcesCard.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/ResourceCard.js
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/StyledResourceCard.js
  packages/UI/src/components/atoms/Button/Button.tsx
Owners: @dev-launchers/platform-enablement

removing changes on button in UI packages
  packages/UI/src/components/atoms/Button/Button.tsx
Owners: @dev-launchers/platform-enablement

debug tailwind styling
  packages/UI/src/components/molecules/Pagination/Pagination.tsx
Owners: @dev-launchers/platform-enablement

add in tailwind css
  packages/tailwind-constructor/tailwind.css
Owners: @dev-launchers/platform-enablement

fix: undoing changes on button components
  packages/UI/src/components/atoms/Button/Button.tsx
Owners: @dev-launchers/platform-enablement

Style changes for Fourth Onboarding Step
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/PageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/StyledPageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPageContainer.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/RoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
Owners: none

Styling for Page Three & Page Four for Onboarding
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/PageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageFour/StyledPageFour.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/StyledPageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPageContainer.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/RoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
Owners: none

Add styling for user onboarding modal
  apps/user-profile/src/components/common/Stepper/Stepper.js
  apps/user-profile/src/components/common/Stepper/StyledStepper.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/StyledPlatformOnboarding.js
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
  apps/user-profile/src/components/modules/UserOnboardingModal/StyledUserOnboardingModal.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/images/Onboarding/Modal/close-icon.svg
  apps/user-profile/src/images/Onboarding/RoleCard/junior-experience.svg
  apps/user-profile/src/images/Onboarding/RoleCard/mid-experience.svg
  apps/user-profile/src/images/Onboarding/RoleCard/onboarding-folders.svg
  apps/user-profile/src/images/Onboarding/RoleCard/senior-experience.svg
  apps/user-profile/src/images/Onboarding/RoleCard/user-profile.svg
  apps/user-profile/src/images/Onboarding/Stepper/left-caret.svg
  apps/user-profile/src/images/Onboarding/Stepper/right-caret.svg
Owners: none

Upgrade staging image to devlaunchers/platform-website:fa991e1-202308262318
  staging/kustomization.yaml
Owners: none

Debugging for comments state
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/DisplayComments.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/WorkshoppingPage.js
Owners: @dev-launchers/ideaspace-team

fix(update the staging .env file)
  apps/app/.env.staging
Owners: @Enjoy2Live, @pyxld-kris

Upgrade staging image to devlaunchers/platform-website:7e65569-202308271705
  staging/kustomization.yaml
Owners: none

Update TeamResources.js
  apps/site-projects/src/components/modules/Resources/TeamResources/TeamResources.js
Owners: none

fix 'other resources' width
  apps/site-projects/src/components/modules/Resources/ProjectResources/TeamLinks/TeamLinks.js
Owners: none

fix(cthuang): Redirect user to signup or user profile page after sign in
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
  src/extensions/users-permissions/server/middlewares/jwt.js
Owners: none

Update staging image to devlaunchers/strapi:133b94f-202308302143
  staging/kustomization.yaml
Owners: none

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
