Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

fixed search result when type in searchbar
  apps/site-projects/src/components/modules/Projects/Projects.js
Owners: none

fix(chungthuang): Add images field to project collection
  src/api/project/content-types/project/schema.json
  src/api/project/documentation/1.0.0/project.json
Owners: none

Style and Text Changes for Initial Onboarding
  apps/user-profile/src/components/modules/UserOnboarding/OnboardingForm/OnboardingForm.js
  apps/user-profile/src/components/modules/UserOnboarding/OnboardingForm/StyledOnboardingForm.js
  apps/user-profile/src/components/modules/UserOnboarding/UserOnboarding.js
Owners: none

fix-last-issues-with-strapiv4-migration
  apps/dev-recruiters/src/pages/[slug]/index.tsx
  apps/site-projects/src/components/modules/Projects/Project/Description/DescriptionContent/DescriptionContent.js
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/components/modules/Projects/Projects.js
  apps/site-projects/src/pages/[slug].jsx
  apps/site-projects/src/pages/index.jsx
  packages/utility/agent.ts
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/platform-enablement

Update staging image to devlaunchers/strapi:38dc48f-202306171709
  staging/kustomization.yaml
Owners: none

build: convert text on singup form to lower case
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
  packages/UI/src/components/atoms/Typography/Styled.Typography.ts
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/platform-enablement

Created the third onboarding tour page
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/PageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/StyledPageThree.js
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageThree/index.js
Owners: none

Added Kris's login info
  package.json
  packages/UI/src/context/UserDataContext.js
  yarn.lock
Owners: @Enjoy2Live, @dev-launchers/platform-enablement

upgrade to storybookv7
  packages/UI/.babelrc
  packages/UI/.storybook/main.js
  packages/UI/package.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

feat: add storybook to apps
  apps/app/.eslintrc.js
  apps/app/.storybook/main.ts
  apps/app/.storybook/preview.tsx
  apps/app/package.json
  apps/app/stories/Create.stories.ts
  apps/website/src/components/common/Footer/StyledFooter.js
  packages/UI/.storybook/main.js
  packages/UI/package.json
  packages/UI/public/images/logo-monogram.png
  packages/UI/public/images/test-image.png
  packages/UI/public/rawSvg/alert-triangle.svg
  packages/UI/public/rawSvg/check-circle.svg
  packages/UI/public/rawSvg/chevron-down.svg
  packages/UI/src/components/molecules/ProgressBar/ProgressBar.tsx
  packages/UI/src/components/organisms/Dropdown/StyledDropdown.ts
  packages/UI/src/components/organisms/Footer/StyledFooter.js
  packages/UI/src/components/organisms/NavDropdown/StyledDropdown.ts
  packages/UI/src/components/organisms/Navigation/MobileNavigation.tsx
  packages/UI/src/components/organisms/Navigation/Navigation.stories.tsx
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
  packages/UI/src/components/organisms/cards/ProductCardLarge/ProductCardLarge.tsx
  packages/UI/src/components/organisms/cards/ProductCardLong/StyledProductCardLongComponents.tsx
  packages/UI/src/components/organisms/cards/UserCard/UserCard.stories.tsx
  packages/eslint-config-bases/package.json
  yarn.lock
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

style sheet changes so far
  packages/tailwind-constructor/build.js
  packages/tailwind-constructor/output/core.css
  packages/tailwind-constructor/output/core.json
  packages/tailwind-constructor/styles.css
  packages/tailwind-constructor/tokens.json
  packages/tailwind-constructor/tokens/core.json
Owners: @dev-launchers/platform-enablement

Added Kris Gano's user profile
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/platform-enablement

helioLJ/fix-searchresult-in-projects
  apps/site-projects/src/components/modules/Projects/Projects.js
Owners: none

Added completedOnboarding variable to user model
  src/extensions/users-permissions/content-types/user/schema.json
Owners: none

wp
  apps/dev-recruiters/src/utils/EnvironmentVariables.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
  apps/ideaspace/src/utils/EnvironmentVariables.js
  apps/site-projects/src/components/common/Header/Header.js
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/pages/_app.jsx
  apps/site-projects/src/utils/EnvironmentVariables.js
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/Header.js
  apps/website/src/components/modules/SignUp/SignUp.js
  apps/website/src/components/modules/UserProfile/Opportunities/Opportunities.js
  apps/website/src/components/modules/UserProfile/People/People.js
  apps/website/src/components/modules/UserProfile/RecommendedIdeas/RecommendedIdeas.js
  apps/website/src/components/modules/UserProfile/UserInterests/UserInterests.js
  apps/website/src/components/modules/UserProfile/UserProfile.js
  apps/website/src/components/modules/UserProfile/UserProjects/UserProjects.js
  apps/website/src/pages/_app.js
  apps/website/src/pages/create.js
  apps/website/src/utils/EnvironmentVariables.js
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
  packages/UI/src/context/UserDataContext.js
  packages/UI/src/utils/EnvironmentVariables.js
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

update percy.yml
  packages/UI/package.json
  packages/UI/snapshots.yml
Owners: @Enjoy2Live, @dev-launchers/platform-enablement

Update percy.yml
  .github/workflows/percy.yml
Owners: none

Update percy.yml name
  .github/workflows/percy.yml
Owners: none

do not render outdated meetings in projects details page
  apps/site-projects/src/components/modules/Projects/Project/Sessions/Sessions.js
Owners: none

created a function that checks if user is part of team project; create a const that checks if user is logged; create a condition rendering only for logged users and team members
  apps/site-projects/src/components/modules/Projects/Project/Project.js
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

Revert "do not render outdated meetings in projects details page"
  apps/site-projects/src/components/modules/Projects/Project/Sessions/Sessions.js
Owners: none

update percy.yml to include installing
  .github/workflows/percy.yml
Owners: none

update percy.yml node version
  .github/workflows/percy.yml
Owners: none

update percy.yml syntax
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

fix Percy TypeError
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

fix chromatic
  packages/UI/.storybook/main.js
  packages/UI/package.json
  yarn.lock
Owners: @dev-launchers/platform-enablement, @Enjoy2Live

migration ✔
  apps/app/package.json
  apps/dev-recruiters/src/components/common/TitledHeader/TitledHeader.tsx
  apps/dev-recruiters/src/pages/[slug]/index.tsx
  yarn.lock
Owners: @Enjoy2Live, @dev-launchers/dev-recruit-team

optional chaining to be less prone to errors
  apps/app/next.config.js
  apps/site-projects/src/components/modules/Projects/Project/Description/DescriptionContent/DescriptionContent.js
  apps/site-projects/src/components/modules/Projects/Project/HeroSection/HeroSection.js
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/components/modules/Projects/Projects.js
  apps/site-projects/src/pages/[slug].jsx
Owners: @Enjoy2Live, @pyxld-kris

Added img sources for three role cards
  apps/user-profile/src/components/modules/UserOnboardingModal/RoleCard/StyledRoleCard.js
Owners: none

remove click and hover behavior from team members and leaders images on project page
  apps/site-projects/src/components/modules/Projects/Project/Team/StyledTeam.js
  apps/site-projects/src/components/modules/Projects/Project/Team/Team.js
Owners: none

feat: creating the new join page template
  apps/app/pages/join/newjoin.jsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/ContainerImage/StyledContainerImage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/ContainerImage/containerImage.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/ContainerImage/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/SelectRole.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/StyledSelectRole.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/SelectRole/index.tsx
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/StyledNewJoinPage.ts
  apps/dev-recruiters/src/components/modules/NewJoinPageComponent/index.tsx
  apps/dev-recruiters/src/images/icons/Case-Study.png
  apps/dev-recruiters/src/images/icons/Design-services.png
  apps/dev-recruiters/src/images/icons/Developer-mode.png
  apps/dev-recruiters/src/images/icons/Floor-Plan.png
  apps/dev-recruiters/src/images/icons/Popular-Man.png
  apps/dev-recruiters/src/images/icons/Source-Code.png
  apps/dev-recruiters/src/pages/newjoin.tsx
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/dev-recruit-team

fix(clean code)
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/Header.js
  apps/website/src/components/modules/SignUp/SignUp.js
  apps/website/src/components/modules/UserProfile/Opportunities/Opportunities.js
  apps/website/src/components/modules/UserProfile/People/People.js
  apps/website/src/components/modules/UserProfile/RecommendedIdeas/RecommendedIdeas.js
  apps/website/src/components/modules/UserProfile/UserInterests/UserInterests.js
  apps/website/src/components/modules/UserProfile/UserProfile.js
  apps/website/src/components/modules/UserProfile/UserProjects/UserProjects.js
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
Owners: @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix(bring in the changes to standardize context calls)
  apps/dev-recruiters/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/dev-recruiters/src/components/common/Header/Header.js
  apps/dev-recruiters/src/components/modules/FormPage/signUpForm.tsx
  apps/ideaspace/src/pages/_app.js
  apps/site-projects/src/components/common/HamburgerMenu/HamburgerMenu.tsx
  apps/site-projects/src/components/common/Header/Header.js
  apps/site-projects/src/components/modules/Projects/Project/EditorNotification/EditorNotification.js
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/pages/_app.jsx
  apps/website/src/components/common/HamburgerMenu/HamburgerMenu.js
  apps/website/src/components/common/Header/Header.js
  apps/website/src/components/modules/SignUp/SignUp.js
  apps/website/src/components/modules/UserProfile/UserInterests/UserInterests.js
  apps/website/src/components/modules/UserProfile/UserProfile.js
  apps/website/src/pages/_app.js
Owners: @dev-launchers/dev-recruit-team, @dev-launchers/ideaspace-team, @Enjoy2Live, @pyxld-kris

init my branch
  apps/site-projects/src/components/modules/Projects/Projects.js
  packages/UI/src/components/organisms/NavDropdown/NavDropdown.tsx
  packages/UI/src/components/organisms/Navigation/MobileNavigation.tsx
  packages/UI/src/components/organisms/Navigation/Navigation.tsx
Owners: @dev-launchers/platform-enablement

reversing the commenting of dropdown links
  packages/UI/src/components/organisms/NavDropdown/NavDropdown.tsx
Owners: @dev-launchers/platform-enablement

fix(remove extra userDataContexts and use of eng)
  apps/dev-recruiters/src/contexts/UserDataContext.js
  apps/site-projects/src/context/UserDataContext.js
  apps/website/src/context/UserDataContext.js
  packages/UI/src/context/UserDataContext.js
Owners: @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/platform-enablement

fix(remove another userDataContext)
  packages/UI/src/data/UserDataContext.js
Owners: @dev-launchers/platform-enablement

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
