Repository dev-launchers/dev-launchers-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-launchers/platform-enablement, @dev-launchers/ideaspace-team, @dev-launchers/dev-recruit-team, @Enjoy2Live, @pyxld-kris, @dev-launchers/backend-devs

Change environments in CI
  .github/workflows/staging-apps.yaml
Owners: none

fix(resolve error on edit page)
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
Owners: @dev-launchers/ideaspace-team

Upgrade staging image to devlaunchers/platform-website:68446e1-202307091802
  staging/kustomization.yaml
Owners: none

replacing div with react fragment
  packages/UI/src/components/organisms/NavDropdown/NavDropdown.tsx
Owners: @dev-launchers/platform-enablement

update percy config
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

removing snapshots.yml
  packages/UI/snapshots.yml
Owners: @dev-launchers/platform-enablement

fix(alicefate): add missing import Error
  apps/ideaspace/src/components/common/IdeaForm/IdeaForm.js
  apps/ideaspace/src/components/modules/EditIdea/EditIdea.js
  apps/ideaspace/src/components/modules/SubmissionForm/SubmissionForm.js
Owners: @dev-launchers/ideaspace-team

Update custom.css
  packages/tailwind-constructor/custom.css
Owners: @dev-launchers/platform-enablement

feat:trying to console calendly
  apps/app/.env.development
  apps/site-projects/src/components/modules/Projects/Project/HeroSection/HeroSection.js
  apps/site-projects/src/components/modules/Projects/Project/Project.js
  apps/site-projects/src/components/modules/Projects/Project/Team/Team.js
  apps/site-projects/src/utils/EnvironmentVariables.js
Owners: @Enjoy2Live, @pyxld-kris

403 Error fix — uncaught promise.
  apps/user-profile/src/components/modules/UserProfile/UserProfile.js
Owners: none

build fix
  yarn.lock
Owners: none

Minimize the bundle size of the animation
  apps/user-profile/src/components/modules/UserOnboardingModal/PlatformOnboarding/PageOne/PageOne.js
  apps/user-profile/src/components/modules/UserOnboardingModal/UserOnboardingModal.js
  apps/user-profile/src/pages/_app.js
Owners: none

fix(chungthuang): Customize user-permissions plugin to get profile scope from Google
  src/extensions/documentation/documentation/1.0.0/full_documentation.json
  src/extensions/users-permissions/server/bootstrap/grant-config.js
  src/extensions/users-permissions/server/bootstrap/index.js
  src/index.js
Owners: none

using feature flag
  apps/user-profile/src/context/UserDataContext.js
  apps/user-profile/src/pages/users/me.js
  apps/user-profile/src/utils/ScrollToTop.js
  apps/user-profile/src/utils/featureflags.js
Owners: none

Changes up to PR, including modal
  apps/user-profile/src/components/modules/IntroductionModal/IntroductionModal.js
  apps/user-profile/src/components/modules/IntroductionModal/StyledIntroductionModal.js
  apps/user-profile/src/components/modules/IntroductionModal/index.js
  apps/user-profile/src/pages/users/me.js
Owners: none

resolve issues in IdeaCard
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
Owners: @dev-launchers/ideaspace-team

fix(alicefate): default feedback popover closed
  apps/ideaspace/src/components/modules/IdeasBetaFeedbackModal/IdeasBetaFeedbackModal.js
Owners: @dev-launchers/ideaspace-team

delete localStorage dl_Ideas_isVisited
  apps/ideaspace/src/components/modules/IdeasBetaFeedbackModal/IdeasBetaFeedbackModal.js
Owners: @dev-launchers/ideaspace-team

Reverted commit with merge conflicts
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
  apps/ideaspace/src/components/modules/WorkshoppingPage/CommentsForm/SingleComment.js
Owners: @dev-launchers/ideaspace-team

Reverted commit with merge conflicts
  apps/ideaspace/src/components/common/IdeaCard/IdeaCard.js
Owners: @dev-launchers/ideaspace-team

update chromatic config
  .github/workflows/chromatic.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

feat: rendering leader's calendly removing comments from herosection
  apps/site-projects/src/components/modules/Projects/Project/HeroSection/HeroSection.js
  apps/site-projects/src/components/modules/Projects/Project/Team/Team.js
Owners: none

update percy config
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

update config and test percy
  .github/workflows/percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

update percy config
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

merging chromatic with percy config files
  .github/workflows/chromatic-percy.yml
  .github/workflows/percy.yml
Owners: none

testing percy
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

update chromatic-percy config
  .github/workflows/chromatic-percy.yml
  packages/UI/src/components/atoms/Link/Link.tsx
Owners: @dev-launchers/platform-enablement

.github/CODEOWNERS:

# Shared Packages
packages/ @dev-launchers/platform-enablement

# Ideaspace code
apps/ideaspace/ @dev-launchers/ideaspace-team

# Recruitment code
apps/dev-recruiters/ @dev-launchers/dev-recruit-team

# Website code
apps/website/ @Enjoy2Live @pyxld-kris

# Website code
apps/app/ @Enjoy2Live @pyxld-kris

# Code in the backend directory
strapiv4/ @dev-launchers/backend-devs

# Deps
package.json @Enjoy2Live
